{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Gestion d'Agenda</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <div class="col-sm-12" style="padding-left:0px;">
                            <a href="{{ path('soin_crm_ajout_agenda') }}">
                                <button class="btn btn-danger btn-quirk btn-stroke">
                                    {{ 'Ajouter Rendez-vous'|trans }}
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="dataTable1" class="table table-bordered table-striped-col table-hover" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Type RDV</th>
                                    <th>Lieu</th>
                                    <th>TPS</th>
                                    <th>Date</th>
                                    <th>Heure début</th>
                                    <th>Heure fin</th>
                                    <th>Heure de départ</th>
                                    <th>Heure de Retour</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td>{{ entity.titre }}</td>
                                        <td>{% if entity.type==1 %}
                                            Travail
                                            {% else %}
                                            Autre
                                            {% endif %}
                                        </td>
                                        <td>{% if entity.type==1 %}
                                                {{ entity.Deplacementid?entity.Deplacementid.designation }}
                                            {% else %}
                                                {{ entity.lieu }}
                                            {% endif %}</td>
                                        <td>{{ entity.Deplacementid?entity.Deplacementid.tps }}</td>
                                        <td>{{ entity.date|date("y/m/d") }}</td>
                                        <td>{{ entity.heure|date('H:i') }}</td>
                                        <td>{{ entity.heureD|date('H:i') }}</td>
                                        <td>{{ entity.tempsSortie|date('H:i') }}</td>
                                        <td>{{ entity.heureR|date('H:i') }}</td>
                                        <td>
                                            <ul class="table-options">
                                                <a href="{{ path('soin_crm_modifier_agenda',{'id':entity.id}) }}">
                                                    <button class="btn btn-warning btn-xs">Modifier</button>
                                                </a>
                                                <a href="{{ path('soin_crm_supprimer_agenda',{'id':entity.id}) }}"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce rendez-vous?')">
                                                    <button class="btn btn-danger btn-xs">Supprimer</button>
                                                </a>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>
    <!-- dataTable -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable1').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        } );
    </script>
{% endblock %}


