{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Ajouter Rendez-vous</h1>
                        </div>
                    </div>
                    {% if app.session.flashBag.has('alert') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('alert') %}
                               <h3>{{ msg.title }}</h3>
                                <h5>{{ msg.msg }}</h5>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <form  method="post" action="" class="validate form-horizontal" enctype="multipart/form-data" id="basicForm">
                            <div class="row ajout-article">
                                {{ form_widget(form._token) }}
                                <div class="row col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Titre"|trans}}</label>
                                                {{ form_errors(form.titre)}}
                                                {{ form_widget(form.titre, {'attr': {'class': 'form-control autocomplete','placeholder':"Titre"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Description"|trans}}</label>
                                                {{ form_errors(form.description)}}
                                                {{ form_widget(form.description, {'attr': {'class': 'form-control autocomplete','placeholder':"Description"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Client"|trans}}</label>
                                                {{ form_errors(form.Clientid)}}
                                                {{ form_widget(form.Clientid, {'attr': {'class': 'form-control autocomplete','placeholder':"Client"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Type"|trans}}</label>
                                                {{ form_errors(form.type)}}
                                                {{ form_widget(form.type, {'attr': {'class': 'form-control autocomplete','placeholder':"Client"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8" id="deplacement">
                                                <label class="control-label">{{"Lieu"|trans}}</label>
                                                {{ form_errors(form.Deplacementid)}}
                                                {{ form_widget(form.Deplacementid, {'attr': {'class': 'form-control autocomplete','placeholder':"Lieu"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8" id="lieu">
                                                <label class="control-label">{{"Lieu"|trans}}</label>
                                                {{ form_errors(form.lieu)}}
                                                {{ form_widget(form.lieu, {'attr': {'class': 'form-control autocomplete','placeholder':"Lieu"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"la/des prestation"|trans}}</label>
                                                {{ form_errors(form.Produitid)}}
                                                {{ form_widget(form.Produitid, {'attr': {'class': 'form-control autocomplete','placeholder':"Prestations"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Date"|trans}}</label>
                                                {{ form_errors(form.date)}}
                                                {{ form_widget(form.date, {'attr': {'class': 'form-control autocomplete','placeholder':"Date"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Heure de début"|trans}}</label>
                                                {{ form_errors(form.heure)}}
                                                {{ form_widget(form.heure, {'attr': {'class': 'form-control autocomplete','placeholder':"Heure"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Heure fin"|trans}}</label>
                                                {{ form_errors(form.heureD)}}
                                                {{ form_widget(form.heureD, {'attr': {'class': 'form-control autocomplete','placeholder':"Heure"|trans}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                    </div>
                                </div>

                                {{form_rest(form)}}
                                <div class="btn-group mr5 pull-right">
                                    <button type="reset" class="btn btn-danger btn-quirk btn-stroke">{{'Annuler'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke">{{'Valider'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke" style="display: {{ display }}" name="ajout">{{'Valider/Ajouter'|trans}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script>
        $('#{{ form.vars.name }}_Produitid').select2();
        $('#{{ form.vars.name }}_Deplacementid').select2();
        $('#{{ form.vars.name }}_Clientid').select2();
        $('#{{ form.vars.name }}_type').select2();
        $('#{{ form.vars.name }}_type').on('change',function(){
            var type=$('#{{ form.vars.name }}_type').val();
            if(type==1){
                document.getElementById('deplacement').style.display="block";
                document.getElementById('lieu').style.display="none";
            }else{
                document.getElementById('deplacement').style.display="none";
                document.getElementById('lieu').style.display="block";
            }
        })
        $('#{{ form.vars.name }}_type').ready(function(){
            var type=$('#{{ form.vars.name }}_type').val();
            if(type==1){
                document.getElementById('deplacement').style.display="block";
                document.getElementById('lieu').style.display="none";
            }else{
                document.getElementById('deplacement').style.display="none";
                document.getElementById('lieu').style.display="block";
            }
        })

    </script>
{% endblock %}


