{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Ajouter Déplacement</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <form  method="post" action="" class="validate form-horizontal" enctype="multipart/form-data" id="basicForm">
                            <div class="row ajout-article">
                                {{ form_widget(form._token) }}
                                <div class="row col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <label class="control-label">{{"Ville / quartier"|trans}}</label>
                                            {{ form_errors(form.designation)}}
                                            {{ form_widget(form.designation, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom"|trans}}) }}
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="control-label">{{"KM A/R"|trans}}</label>
                                            {{ form_errors(form.kilometre)}}
                                            {{ form_widget(form.kilometre, {'attr': {'class': 'form-control autocomplete','placeholder':"KM A/R"|trans}}) }}
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="control-label">{{"Heure H"|trans}}</label>
                                            {{ form_errors(form.heure)}}
                                            {{ form_widget(form.heure, {'attr': {'class': 'form-control autocomplete','placeholder':"Heure"|trans}}) }}
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="control-label">{{"Minute MIN"|trans}}</label>
                                            {{ form_errors(form.minute)}}
                                            {{ form_widget(form.minute, {'attr': {'class': 'form-control autocomplete','placeholder':"Minute"|trans}}) }}
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="control-label">{{"Type"|trans}}</label>
                                            {{ form_errors(form.type)}}
                                            {{ form_widget(form.type, {'attr': {'class': 'form-control autocomplete','placeholder':"Type"|trans}}) }}
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="control-label">{{"Tarif"|trans}}</label>
                                            {{ form_errors(form.tarif)}}
                                            {{ form_widget(form.tarif, {'attr': {'class': 'form-control autocomplete','placeholder':"Tarif"|trans}}) }}
                                        </div>

                                    </div>
                                    <div class="form-group ">

                                    </div>
                                </div>

                                {{form_rest(form)}}
                                <div class="btn-group mr5 pull-right">
                                    <button type="reset" class="btn btn-danger btn-quirk btn-stroke">{{'Annuler'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke">{{'Valider'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke" style="display: {{ display }}" name="ajout">{{'Valider/Ajouter'|trans}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>

    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script>
       /* $('#{{ form.vars.name }}_type').select2();
        $('#{{ form.vars.name }}_type').on('change',function(){
            var type=$('#{{ form.vars.name }}_type').val();
            if(type==2){
                document.getElementById('{{ form.vars.name }}_tarif').disabled = true;
            }else{
                document.getElementById('{{ form.vars.name }}_tarif').disabled = false;
            }
        })
        $('#{{ form.vars.name }}_type').ready(function(){
            var type=$('#{{ form.vars.name }}_type').val();
            if(type==2){
                document.getElementById('{{ form.vars.name }}_tarif').disabled = true;
            }else{
                document.getElementById('{{ form.vars.name }}_tarif').disabled = false;
            }
        })*/
    </script>


{% endblock %}


