<!DOCTYPE html>
<html dir="ltr" lang="en">
<!-- Header -->
<head>



    <!-- Stylesheet -->
    <link href="{{ absolute_url(asset('front/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('front/css/jquery-ui.min.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('front/css/animate.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('front/css/css-plugin-collections.css')) }}" rel="stylesheet"/>



</head>

<header></header>
<body >
    <img src="{{  absolute_url(asset('front/logo/logo.jpg')) }}" alt="" style="width:300px;max-height:500px">
    <div class="header-pdf">
        <table class="os-table">
            <tr>
                <td>
                    <p style="float: left;width: 500px;margin-top: 10%;">
                        Coupon : {{ entity.coupon }}<br>
                        designation : {{ entity.cheque.designation }}<br>
                        Prix : {{ entity.cheque.abonnement }}<br>
                    </p>
                </td>

            </tr>
        </table>
    </div>
</body>
<footer></footer>
</html>