<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <style>
        .main-content {
            background-image: url("{{ asset('front/images/slide/tropical.jpg') }}");
        }
    </style>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Royalspa Health & Beauty Business Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Belle & Zen</title>

    <!-- Favicon and Touch Icons -->
    <link href="{{ asset('front/logo/logo.png') }}" rel="shortcut icon" type="image/png">
    <link href="{{ asset('front/images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ asset('front/images/apple-touch-icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
    <link href="{{ asset('front/images/apple-touch-icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">
    <link href="{{ asset('front/images/apple-touch-icon-144x144.png') }}" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="{{ asset('front/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/animate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/css-plugin-collections.css') }}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="{{ asset('front/css/menuzord-skins/menuzord-border-top.css') }}" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{{ asset('front/css/style-main.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="{{ asset('front/css/colors/theme-skin-colorset1.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="{{ asset('front/css/preloader.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{{ asset('front/css/custom-bootstrap-margin-padding.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{{ asset('front/css/responsive.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link  href="{{ asset('front/js/revolution-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

    <!-- external javascripts -->
    <script src="{{ asset('front/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{{ asset('front/js/jquery-plugin-collection.js') }}"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body >
<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <div id="preloader-ping-balls">
                <div class="cssload-loadingwrap">
                    <ul class="cssload-bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top header-dark navbar-theme-colored navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container">
                    <nav>
                        <div id="menuzord" class="menuzord no-bg">
                            <a class="menuzord-brand" href="{{ path('kalitys_crm_homepage') }}"><img src="{{ asset('front/logo/logo.png') }}" alt="" style="max-height: 100px;width: 250px;"></a>
                            <ul class="menuzord-menu">
                                <li class="active"><a href="{{ path('kalitys_crm_homepage') }}">Accueil</a>
                                    <!--<ul class="dropdown">
                                        <li><a href="#">Multipage Layouts</a>
                                            <ul class="dropdown">
                                                <li><a href="index-mp-layout1.html">Layout1</a></li>
                                                <li><a href="index-mp-layout2.html">Layout2</a></li>
                                                <li><a href="index-mp-layout3.html">Layout3</a></li>
                                                <li><a href="index-mp-layout4.html">Layout4</a></li>
                                                <li><a href="index-mp-layout5-vertical-nav-right.html">Vertical Nav Right</a></li>
                                                <li><a href="index-mp-layout6-vertical-nav-left.html">Vertical Nav Left</a></li>
                                                <li><a href="index-mp-layout7-mobile-nav.html">Mobile Nav</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Singlepage Layouts</a>
                                            <ul class="dropdown">
                                                <li><a href="index-sp-layout1.html">Layout1</a></li>
                                                <li><a href="index-sp-layout2.html">Layout2</a></li>
                                                <li><a href="index-sp-layout3.html">Layout3</a></li>
                                                <li><a href="index-sp-layout4.html">Layout4</a></li>
                                                <li><a href="index-sp-layout5-vertical-nav-right.html">Vertical Nav Right</a></li>
                                                <li><a href="index-sp-layout6-vertical-nav-left.html">Vertical Nav Left</a></li>
                                                <li><a href="index-sp-layout7-mobile-nav.html">Mobile Nav</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Boxed Layouts</a>
                                            <ul class="dropdown">
                                                <li><a href="index-boxed-mp-layout1.html">Multipage Layout1</a></li>
                                                <li><a href="index-boxed-mp-layout2.html">Multipage Layout2</a></li>
                                                <li><a href="index-boxed-mp-layout3.html">Multipage Layout3</a></li>
                                                <li><a href="index-boxed-mp-layout4.html">Multipage Layout4</a></li>
                                                <li><a href="index-boxed-sp-layout1.html">Singlepage Layout1</a></li>
                                                <li><a href="index-boxed-sp-layout2.html">Singlepage Layout2</a></li>
                                                <li><a href="index-boxed-sp-layout3.html">Singlepage Layout3</a></li>
                                                <li><a href="index-boxed-sp-layout4.html">Singlepage Layout4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Dark Layouts</a>
                                            <ul class="dropdown">
                                                <li><a href="index-dark-mp-layout1.html">Layout1</a></li>
                                                <li><a href="index-dark-mp-layout2.html">Layout2</a></li>
                                                <li><a href="index-dark-mp-layout3.html">Layout3</a></li>
                                                <li><a href="index-dark-mp-layout4.html">Layout4</a></li>
                                                <li><a href="index-dark-mp-layout5-vertical-nav-right.html">Vertical Nav Right</a></li>
                                                <li><a href="index-dark-mp-layout6-vertical-nav-left.html">Vertical Nav Left</a></li>
                                                <li><a href="index-dark-mp-layout7-mobile-nav.html">Mobile Nav</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">RTL Layouts</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Multipage Layouts</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index-rtl-mp-layout1.html">Layout1</a></li>
                                                        <li><a href="index-rtl-mp-layout2.html">Layout2</a></li>
                                                        <li><a href="index-rtl-mp-layout3.html">Layout3</a></li>
                                                        <li><a href="index-rtl-mp-layout4.html">Layout4</a></li>
                                                        <li><a href="index-rtl-mp-layout5-vertical-nav-right.html">Vertical Nav Right</a></li>
                                                        <li><a href="index-rtl-mp-layout6-vertical-nav-left.html">Vertical Nav Left</a></li>
                                                        <li><a href="index-rtl-mp-layout7-mobile-nav.html">Mobile Nav</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Singlepage Layouts</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index-rtl-sp-layout1.html">Layout1</a></li>
                                                        <li><a href="index-rtl-sp-layout2.html">Layout2</a></li>
                                                        <li><a href="index-rtl-sp-layout3.html">Layout3</a></li>
                                                        <li><a href="index-rtl-sp-layout4.html">Layout4</a></li>
                                                        <li><a href="index-rtl-sp-layout5-vertical-nav-right.html">Vertical Nav Right</a></li>
                                                        <li><a href="index-rtl-sp-layout6-vertical-nav-left.html">Vertical Nav Left</a></li>
                                                        <li><a href="index-rtl-sp-layout7-mobile-nav.html">Mobile Nav</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Home Variations</a>
                                            <ul class="dropdown">
                                                <li><a href="home-variation-layerslider.html">Layer Slider</a></li>
                                                <li><a href="home-variation-master-slider.html">Master Slider</a></li>
                                                <li><a href="home-variation-revslider-style1.html">Revolution Slider 1</a></li>
                                                <li><a href="home-variation-revslider-style2.html">Revolution Slider 2</a></li>
                                                <li><a href="home-variation-bg-image-parallax.html">Bg Image Parallax</a></li>
                                                <li><a href="home-variation-bg-static.html">Bg Static Image</a></li>
                                                <li><a href="home-variation-bg-html5-video.html">Bg Html5 Video</a></li>
                                                <li><a href="home-variation-bg-youtube-video.html">Bg Youtube Video</a></li>
                                                <li><a href="home-variation-maximageslider-style1.html">Maximage Slider 1</a></li>
                                                <li><a href="home-variation-maximageslider-style2.html">Maximage Slider 2</a></li>
                                                <li><a href="home-variation-owl-carousel.html">Owl Slider</a></li>
                                                <li><a href="home-variation-typed-text.html">Typed Text</a></li>
                                            </ul>
                                        </li>
                                    </ul>-->
                                </li>
                                <li><a href="#">Mes Soins</a>
                                    <!-- <ul class="dropdown">
                                         <li><a href="features-preloader.html">Preloaders</a></li>
                                         <li><a href="#">Header</a>
                                             <ul class="dropdown">
                                                 <li><a href="features-header-style1.html">Header Style1</a></li>
                                                 <li><a href="features-header-style2.html">Header Style2</a></li>
                                                 <li><a href="features-header-style3.html">Header Style3</a></li>
                                                 <li><a href="features-header-style4.html">Header Style4</a></li>
                                                 <li><a href="features-header-style5.html">Header Style5</a></li>
                                                 <li><a href="features-header-style6.html">Header Style6</a></li>
                                                 <li><a href="features-header-style7.html">Header Style7</a></li>
                                                 <li><a href="features-header-vertical-nav.html">Vertical Header <span class="label label-success">New</span></a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Page Title <span class="label label-success">New</span></a>
                                             <ul class="dropdown">
                                                 <li><a href="features-page-title-text-left.html">Text Left</a></li>
                                                 <li><a href="features-page-title-text-center.html">Text Center</a></li>
                                                 <li><a href="features-page-title-text-right.html">Text Right</a></li>
                                                 <li><a href="features-page-title-mini-version.html">Mini Version</a></li>
                                                 <li><a href="features-page-title-big-version.html">Big Version</a></li>
                                                 <li><a href="features-page-title-extra-big-version.html">Extra Big Version</a></li>
                                                 <li><a href="features-page-title-bg-white.html">Bg White</a></li>
                                                 <li><a href="features-page-title-bg-image.html">Bg Image</a></li>
                                                 <li><a href="features-page-title-bg-image-parallax.html">Bg Image Parallax</a></li>
                                                 <li><a href="features-page-title-bg-video.html">Bg Video</a></li>
                                                 <li><a href="features-page-title-full-transparent.html">Full Transparent</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Side Push Panel</a>
                                             <ul class="dropdown">
                                                 <li><a href="features-side-push-panel-left-overlay.html">Left Overlay</a></li>
                                                 <li><a href="features-side-push-panel-left-push.html">Left Push</a></li>
                                                 <li><a href="features-side-push-panel-right-overlay.html">Right Overlay</a></li>
                                                 <li><a href="features-side-push-panel-right-push.html">Right Push</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Menu Style <span class="label label-success">New</span></a>
                                             <ul class="dropdown">
                                                 <li><a href="features-menu-style-border-top.html">Border Top</a></li>
                                                 <li><a href="features-menu-style-border-bottom.html">Border Bottom</a></li>
                                                 <li><a href="features-menu-style-border-boxed.html">Border Boxed</a></li>
                                                 <li><a href="features-menu-style-border-left.html">Border Left</a></li>
                                                 <li><a href="features-menu-style-border-top-bottom.html">Border Top Bottom</a></li>
                                                 <li><a href="features-menu-style-bottom-trace.html">Bottom Trace</a></li>
                                                 <li><a href="features-menu-style-boxed.html">Boxed</a></li>
                                                 <li><a href="features-menu-style-colored.html">Colored</a></li>
                                                 <li><a href="features-menu-style-dark.html">Dark</a></li>
                                                 <li><a href="features-menu-style-gradient.html">Gradient</a></li>
                                                 <li><a href="features-menu-style-rounded-boxed.html">Rounded Boxed</a></li>
                                                 <li><a href="features-menu-style-shadow.html">Shadow</a></li>
                                                 <li><a href="features-menu-style-strip.html">Strip</a></li>
                                                 <li><a href="features-menu-style-subcolored.html">Sub-Colored</a></li>
                                                 <li><a href="features-menu-style-top-bottom-boxed-border.html">Top Bottom Boxed Border</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Sliders</a>
                                             <ul class="dropdown">
                                                 <li><a href="#">Revolution Slider</a>
                                                     <ul class="dropdown">
                                                         <li><a href="features-home-revslider.html">Revolution Slider</a></li>
                                                         <li><a href="features-rev-slider-premium-templates.html">Revolution Slider All In One</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Layer Slider <span class="label label-success">New</span></a>
                                                     <ul class="dropdown">
                                                         <li><a href="features-home-layerslider.html">Layer Slider</a></li>
                                                         <li><a href="features-layerslider-slider-premium-templates.html">Layer Slider All In One</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Master Slider <span class="label label-success">New</span></a>
                                                     <ul class="dropdown">
                                                         <li><a href="features-home-master-slider-with-animated-layers.html">Master Slider</a></li>
                                                         <li><a href="features-master-slider-premium-templates.html">Master Slider All In One</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="features-home-bg-image-slider.html">Bg Image Slider</a></li>
                                                 <li><a href="features-home-owl-fullwidth-carousel.html">Owl Fullwidth Carousel</a></li>
                                                 <li><a href="features-home-parallax-bg.html">Static/Parallax Image Bg</a></li>
                                                 <li><a href="features-home-video-bg.html">Video Image Bg</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Form</a>
                                             <ul class="dropdown">
                                                 <li><a href="#">Contact Form</a>
                                                     <ul class="dropdown">
                                                         <li><a href="page-contact1.html">Form style 1</a></li>
                                                         <li><a href="page-contact2.html">Form style 2</a></li>
                                                         <li><a href="page-contact3.html">Form style 3</a></li>
                                                         <li><a href="page-contact4.html">Form style 4</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Login/Register Form</a>
                                                     <ul class="dropdown">
                                                         <li><a href="#">Login/Register</a>
                                                             <ul class="dropdown">
                                                                 <li><a href="form-login-register-style1.html">Form style 1</a></li>
                                                                 <li><a href="form-login-register-style2.html">Form style 2</a></li>
                                                             </ul>
                                                         </li>
                                                         <li><a href="#">Login</a>
                                                             <ul class="dropdown">
                                                                 <li><a href="form-login-style1.html">Form style 1</a></li>
                                                                 <li><a href="form-login-style2.html">Form style 2</a></li>
                                                                 <li><a href="form-login-style3.html">Form style 3</a></li>
                                                             </ul>
                                                         </li>
                                                         <li><a href="#">Register</a>
                                                             <ul class="dropdown">
                                                                 <li><a href="form-register-style1.html">Form style 1</a></li>
                                                                 <li><a href="form-register-style2.html">Form style 2</a></li>
                                                                 <li><a href="form-register-style3.html">Form style 3</a></li>
                                                             </ul>
                                                         </li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Subscribe Form</a>
                                                     <ul class="dropdown">
                                                         <li><a href="form-subscribe.html">Form style 1</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Appointment Form</a>
                                                     <ul class="dropdown">
                                                         <li><a href="form-appointment-style1.html">Form style 1</a></li>
                                                         <li><a href="form-appointment-style2.html">Form style 2</a></li>
                                                         <li><a href="form-appointment-style3.html">Form style 3</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Job Apply Form</a>
                                                     <ul class="dropdown">
                                                         <li><a href="form-job-apply-style1.html">Form style 1</a></li>
                                                         <li><a href="form-job-apply-style2.html">Form style 2</a></li>
                                                         <li><a href="form-job-apply-style3.html">Form style 3</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Quick Contact Form</a>
                                                     <ul class="dropdown">
                                                         <li><a href="form-quick-contact-style1.html">Form style 1</a></li>
                                                         <li><a href="form-quick-contact-style2.html">Form style 2</a></li>
                                                         <li><a href="form-quick-contact-style3.html">Form style 3</a></li>
                                                     </ul>
                                                 </li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Paypal Form <span class="label label-success">New</span></a>
                                             <ul class="dropdown">
                                                 <li><a href="#">Donation Onetime</a>
                                                     <ul class="dropdown">
                                                         <li><a href="form-paypal-donate-onetime-style1.html">Style1</a></li>
                                                         <li><a href="form-paypal-donate-onetime-style2.html">Style2</a></li>
                                                         <li><a href="form-paypal-donate-onetime-style3.html">Style3</a></li>
                                                         <li><a href="form-paypal-donate-onetime-style4.html">Style4</a></li>
                                                         <li><a href="form-paypal-donate-onetime-style5.html">Style5</a></li>
                                                         <li><a href="form-paypal-donate-onetime-style6.html">Style6</a></li>
                                                         <li><a href="form-paypal-donate-onetime-style7.html">Style7</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Donation Recurring</a>
                                                     <ul class="dropdown">
                                                         <li><a href="form-paypal-donate-recurring-style1.html">Style1</a></li>
                                                         <li><a href="form-paypal-donate-recurring-style2.html"> Style2</a></li>
                                                         <li><a href="form-paypal-donate-recurring-style3.html">Style3</a></li>
                                                         <li><a href="form-paypal-donate-recurring-style4.html">Style4</a></li>
                                                         <li><a href="form-paypal-donate-recurring-style5.html">Style5</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="#">Both Onetime/Recurring</a>
                                                     <ul class="dropdown">
                                                         <li><a href="form-paypal-donate-both-onetime-recurring-style1.html">Style1</a></li>
                                                         <li><a href="form-paypal-donate-both-onetime-recurring-style2.html">Style2</a></li>
                                                         <li><a href="form-paypal-donate-both-onetime-recurring-style3.html">Style3</a></li>
                                                         <li><a href="form-paypal-donate-both-onetime-recurring-style4.html">Style4</a></li>
                                                     </ul>
                                                 </li>
                                                 <li><a href="form-paypal-cart-style1.html">Cart Payment</a></li>
                                                 <li><a href="form-paypal-order-style1.html">Order Payment Style1</a></li>
                                                 <li><a href="form-paypal-order-style2.html">Order Payment Style2</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Popup Promo Box <span class="label label-success">New</span></a>
                                             <ul class="dropdown">
                                                 <li><a href="features-popup-promo-box.html">Default</a></li>
                                                 <li><a href="features-popup-promo-box-cookie-enabled.html">Cookie Enabled</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Footer</a>
                                             <ul class="dropdown">
                                                 <li><a href="features-footer-style1.html#footer">Footer Dark One</a></li>
                                                 <li><a href="features-footer-style2.html#footer">Footer Dark Two</a></li>
                                                 <li><a href="features-footer-style3.html#footer">Footer Dark Three</a></li>
                                                 <li><a href="features-footer-style4.html#footer">Footer Dark Four</a></li>
                                                 <li><a href="features-footer-style5.html#footer">Footer Dark Five</a></li>
                                                 <li><a href="features-footer-style6.html#footer">Footer Dark Six</a></li>
                                             </ul>
                                         </li>
                                     </ul>-->
                                </li>
                                <li><a href="#">Massages</a>
                                    <!-- <ul class="dropdown">
                                         <li><a href="#">About</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-about1.html">About Style1</a></li>
                                                 <li><a href="page-about2.html">About Style2</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Services</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-services1.html">Services Style1</a></li>
                                                 <li><a href="page-services2.html">Services Style2</a></li>
                                                 <li><a href="page-services3.html">Services Style3</a></li>
                                                 <li><a href="page-service-details.html">Services Details</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">FAQ</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-faq-style1.html">FAQ Style1</a></li>
                                                 <li><a href="page-faq-style2.html">FAQ Style2</a></li>
                                                 <li><a href="page-faq-style3.html">FAQ Style3</a></li>
                                                 <li><a href="page-faq-style4.html">FAQ Style4</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Contact</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-contact1.html">Contact Style1</a></li>
                                                 <li><a href="page-contact2.html">Contact Style2</a></li>
                                                 <li><a href="page-contact3.html">Contact Style3</a></li>
                                                 <li><a href="page-contact4.html">Contact Style4</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Shop</a>
                                             <ul class="dropdown">
                                                 <li><a href="shop-category.html">Category</a></li>
                                                 <li><a href="shop-category-sidebar.html">Category Sidebar</a></li>
                                                 <li><a href="shop-product-details.html">Product Details</a></li>
                                                 <li><a href="shop-cart.html">Cart</a></li>
                                                 <li><a href="shop-checkout.html">Checkout</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Calender</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-calender1.html">Calender Style1</a></li>
                                                 <li><a href="page-calender2.html">Calender Style2</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Pricing</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-pricing1.html">Pricing Style1</a></li>
                                                 <li><a href="page-pricing2.html">Pricing Style2</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="page-testimonials.html">Testimonials</a></li>
                                         <li><a href="page-clients.html">Clients</a></li>
                                         <li><a href="#">Team</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-team-3column.html">3 Columns</a></li>
                                                 <li><a href="page-team-4column.html">4 Columns</a></li>
                                                 <li><a href="page-team-member-details.html">Team Member Details</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Page 404</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-404-style1.html">Style1</a></li>
                                                 <li><a href="page-404-style2.html">Style2</a></li>
                                                 <li><a href="page-404-style3.html">Style3</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Under Construction</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-under-construction-style1.html">Style1</a></li>
                                                 <li><a href="page-under-construction-style2.html">Style2</a></li>
                                                 <li><a href="page-under-construction-style3.html">Style3</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Coming Soon</a>
                                             <ul class="dropdown">
                                                 <li><a href="page-coming-soon-style1.html">Style1</a></li>
                                                 <li><a href="page-coming-soon-style2.html">Style2</a></li>
                                                 <li><a href="page-coming-soon-style3.html">Style3</a></li>
                                             </ul>
                                         </li>
                                     </ul>-->
                                </li>
                                <li><a href="#">Beauté</a>
                                    <!--  <ul class="dropdown">
                                          <li><a href="#">Boxed</a>
                                              <ul class="dropdown">
                                                  <li><a href="#">Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-boxed-gutter-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-boxed-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-boxed-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-boxed-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-boxed-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-boxed-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-boxed-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-boxed-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-boxed-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-boxed-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-boxed-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-boxed-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-boxed-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-boxed-title-gutter-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-boxed-title-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-boxed-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-boxed-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Wide</a>
                                              <ul class="dropdown">
                                                  <li><a href="#">Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-wide-gutter-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-wide-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-wide-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-wide-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-wide-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-wide-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-wide-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-wide-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-wide-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-wide-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-wide-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-wide-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-wide-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-wide-title-gutter-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-wide-title-1-col.html">1 Column</a></li>
                                                          <li><a href="portfolio-wide-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-wide-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Masonry Boxed</a>
                                              <ul class="dropdown">
                                                  <li><a href="#">Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-boxed-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-boxed-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-gutter-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-boxed-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-boxed-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Masonry Wide</a>
                                              <ul class="dropdown">
                                                  <li><a href="#">Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-wide-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-wide-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Title - Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-wide-gutter-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-gutter-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Title - Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-masonry-wide-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-masonry-wide-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Tiles Boxed</a>
                                              <ul class="dropdown">
                                                  <li><a href="#">Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-boxed-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-boxed-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-boxed-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-boxed-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Tiles Wide</a>
                                              <ul class="dropdown">
                                                  <li><a href="#">Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-wide-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-wide-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-wide-title-gutter-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-gutter-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="#">Title - Gutter Less</a>
                                                      <ul class="dropdown">
                                                          <li><a href="portfolio-tiles-wide-title-2-col.html">2 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-3-col.html">3 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-4-col.html">4 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-5-col.html">5 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-6-col.html">6 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-7-col.html">7 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-8-col.html">8 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-9-col.html">9 Columns</a></li>
                                                          <li><a href="portfolio-tiles-wide-title-10-col.html">10 Columns</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Loading Styles</a>
                                              <ul class="dropdown">
                                                  <li><a href="portfolio-extra-infinity-scroll.html">Infinity Scroll</a></li>
                                                  <li><a href="portfolio-extra-infinity-scroll-lazyload.html">Infinity Scroll Lazyload</a></li>
                                                  <li><a href="portfolio-extra-pagination.html">Pagination</a></li>
                                                  <li><a href="portfolio-extra-jquery-pagination.html">Pagination Jquery</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Single</a>
                                              <ul class="dropdown">
                                                  <li><a href="portfolio-details-image.html">With - Image</a></li>
                                                  <li><a href="portfolio-details-image-gallery.html">With - Image Gallery</a></li>
                                                  <li><a href="portfolio-details-video-gallery.html">With - Video Gallery</a></li>
                                              </ul>
                                          </li>
                                      </ul>-->
                                </li>
                                <li><a href="{{ path('soin_crm_affiche_galerie') }}">Galerie</a>
                                    <!--  <div class="megamenu">
                                          <div class="megamenu-row">
                                              <div class="col3">
                                                  <ul class="list-unstyled list-dashed">
                                                      <li>
                                                          <h5 class="pl-10"><strong>Classic:</strong></h5>
                                                      </li>
                                                      <li><a href="blog-classic-right-sidebar.html">Right Sidebar</a></li>
                                                      <li><a href="blog-classic-left-sidebar.html">Left Sidebar</a></li>
                                                      <li><a href="blog-classic-both-sidebar.html">Both Sidebar</a></li>
                                                      <li><a href="blog-classic-no-sidebar.html">No Sidebar</a></li>
                                                      <li><a href="blog-classic-small-thumbs.html">Small Thumbs</a></li>
                                                      <li>
                                                          <h6 class="pl-10"><strong>Extra:</strong></h6>
                                                      </li>
                                                      <li><a href="blog-extra-infinity-scroll.html">Infinity Scroll</a></li>
                                                      <li><a href="blog-extra-infinity-scroll-lazyload.html">Infinity Scroll + Lazyload</a></li>
                                                  </ul>
                                              </div>
                                              <div class="col3">
                                                  <ul class="list-unstyled list-dashed">
                                                      <li>
                                                          <h5 class="pl-10"><strong>Grid:</strong></h5>
                                                      </li>
                                                      <li><a href="blog-grid-2-column.html">2 Columns</a></li>
                                                      <li><a href="blog-grid-3-column.html">3 Columns</a></li>
                                                      <li><a href="blog-grid-4-column.html">4 Columns</a></li>
                                                      <li>
                                                          <h6 class="text-black font-weight-600 pl-10">Full Width:</h6>
                                                      </li>
                                                      <li><a href="blog-grid-width-2-column.html">2 Columns</a></li>
                                                      <li><a href="blog-grid-width-3-column.html">3 Columns</a></li>
                                                      <li><a href="blog-grid-width-4-column.html">4 Columns</a></li>
                                                  </ul>
                                              </div>
                                              <div class="col3">
                                                  <ul class="list-unstyled list-dashed">
                                                      <li>
                                                          <h5 class="pl-10"><strong>Masonry:</strong></h5>
                                                      </li>
                                                      <li><a href="blog-masonry-2-column.html">2 Columns</a></li>
                                                      <li><a href="blog-masonry-3-column.html">3 Columns</a></li>
                                                      <li><a href="blog-masonry-4-column.html">4 Columns</a></li>
                                                      <li>
                                                          <h6 class="text-black font-weight-600 pl-10">Full Width:</h6>
                                                      </li>
                                                      <li><a href="blog-masonry-width-2-column.html">2 Columns</a></li>
                                                      <li><a href="blog-masonry-width-3-column.html">3 Columns</a></li>
                                                      <li><a href="blog-masonry-width-4-column.html">4 Columns</a></li>
                                                  </ul>
                                              </div>
                                              <div class="col3">
                                                  <ul class="list-unstyled list-dashed">
                                                      <li>
                                                          <h5 class="pl-10"><strong>Single:</strong></h5>
                                                      </li>
                                                      <li><a href="blog-single-right-sidebar.html">Right Sidebar</a></li>
                                                      <li><a href="blog-single-left-sidebar.html">Left Sidebar</a></li>
                                                      <li><a href="blog-single-both-sidebar.html">Both Sidebar</a></li>
                                                      <li><a href="blog-single-no-sidebar.html">No Sidebar</a></li>
                                                      <li>
                                                          <h6 class="text-black font-weight-600 pl-10">Comments Plugins:</h6>
                                                      </li>
                                                      <li><a href="blog-single-facebook-comments.html#comments">Facebook Comments</a></li>
                                                      <li><a href="blog-single-disqus-comments.html#comments">Disqus Comments</a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>-->
                                </li>
                                <li><a href="javascript:void(0)">Contact</a>
                                    <!-- <div class="megamenu">
                                         <div class="megamenu-row">
                                             <div class="col3">
                                                 <ul class="list-unstyled list-dashed">
                                                     <li><a href="shortcode-accordion.html"><i class="fa fa-list-ul"></i> Accordion</a></li>
                                                     <li><a href="shortcode-alerts.html"><i class="fa fa-exclamation-circle"></i> Alerts</a></li>
                                                     <li><a href="shortcode-animations.html"><i class="fa fa-magic"></i> Animations</a></li>
                                                     <li><a href="shortcode-background-html5-video.html"><i class="fa fa-video-camera"></i> HTML5 Background Video</a></li>
                                                     <li><a href="shortcode-blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                                                     <li><a href="shortcode-button-groups-and-dropdowns.html"><i class="fa fa-link"></i> Button Groups</a></li>
                                                     <li><a href="shortcode-button-hover-effect.html"><i class="fa fa-flag-o"></i> Button Hover Effect</a></li>
                                                     <li><a href="shortcode-buttons.html"><i class="fa fa-external-link"></i> Buttons</a></li>
                                                     <li><a href="shortcode-call-to-actions.html"><i class="fa fa-plus-square"></i> Call To Actions</a></li>
                                                     <li><a href="shortcode-charts.html"><i class="fa fa-pie-chart"></i> Charts</a></li>
                                                     <li><a href="shortcode-columns-grids.html"><i class="fa fa-columns"></i> Columns Grids</a></li>
                                                     <li><a href="shortcode-countdown-timer.html"><i class="fa fa-clock-o"></i> Countdown Timer</a></li>
                                                     <li><a href="shortcode-divider.html"><i class="fa fa-indent"></i> Divider</a></li>
                                                     <li><a href="shortcode-dropcaps.html"><i class="fa fa-bold"></i> Dropcaps</a></li>
                                                 </ul>
                                             </div>
                                             <div class="col3">
                                                 <ul class="list-unstyled list-dashed">
                                                     <li><a href="shortcode-flex-sliders.html"><i class="fa fa-sliders"></i> Flex Sliders</a></li>
                                                     <li><a href="shortcode-flipbox.html"><i class="fa fa-square"></i> Flipbox</a></li>
                                                     <li><a href="shortcode-forms.html"><i class="fa fa-align-justify"></i> Forms</a></li>
                                                     <li><a href="shortcode-funfacts.html"><i class="fa fa-eye-slash"></i> Funfacts</a></li>
                                                     <li><a href="shortcode-iconbox.html"><i class="fa fa-unsorted"></i> Icon Box</a></li>
                                                     <li><a href="shortcode-icon-7stroke.html"><i class="fa fa-circle-o"></i> Icons 7stroke</a></li>
                                                     <li><a href="shortcode-icon-elegant-icons.html"><i class="fa fa-eye-slash"></i> Icons Elegant</a></li>
                                                     <li><a href="shortcode-icon-flat-color-icons.html"><i class="fa fa-i-cursor"></i> Icons Flat Color</a></li>
                                                     <li><a href="shortcode-icon-fontawesome.html"><i class="fa fa-fort-awesome"></i> Icons FontAwesome</a></li>
                                                     <li><a href="shortcode-icon-fontawesome-tutorial.html"><i class="fa fa-fonticons"></i> Icons FontAwesome Tutorial</a></li>
                                                     <li><a href="shortcode-icon-strokegap.html"><span class="strokegap-icon strokegap-icon-WorldWide"></span> Icons Strokegap</a></li>
                                                     <li><a href="shortcode-image-box.html"><i class="fa fa-file-image-o"></i> Image Box</a></li>
                                                     <li><a href="shortcode-instagram.html"><i class="fa fa-instagram"></i> Instagram Feed</a></li>
                                                     <li><a href="shortcode-labels-badges.html"><i class="fa fa-check-square-o"></i> Labels Badges</a></li>
                                                 </ul>
                                             </div>
                                             <div class="col3">
                                                 <ul class="list-unstyled list-dashed">
                                                     <li><a href="shortcode-listgroup-panels.html"><i class="fa fa-th-list"></i> Listgroup Panels</a></li>
                                                     <li><a href="shortcode-lists.html"><i class="fa fa-list"></i> Lists</a></li>
                                                     <li><a href="shortcode-maps.html"><i class="fa fa-map-o"></i> Maps</a></li>
                                                     <li><a href="shortcode-media-embed.html"><i class="fa fa-play-circle-o"></i> Media Embed</a></li>
                                                     <li><a href="shortcode-modal-bootstrap.html"><i class="fa fa-search-plus"></i> Modal</a></li>
                                                     <li><a href="shortcode-modal-lightbox.html"><i class="fa fa-expand"></i> Lightbox</a></li>
                                                     <li><a href="shortcode-navigation.html"><i class="fa fa-navicon"></i> Navigation</a></li>
                                                     <li><a href="shortcode-owl-carousel.html"><i class="fa fa-sliders"></i> Owl Carousel</a></li>
                                                     <li><a href="shortcode-pagination.html"><i class="fa fa-arrow-circle-o-right"></i> Pagination</a></li>
                                                     <li><a href="shortcode-pricing-tables.html"><i class="fa fa-dollar"></i> Pricing Tables</a></li>
                                                     <li><a href="shortcode-progressbar.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
                                                     <li><a href="shortcode-responsive.html"><i class="fa fa-tablet"></i> Responsive</a></li>
                                                     <li><a href="shortcode-separator.html"><i class="fa fa-minus-square-o"></i> Separator</a></li>
                                                     <li><a href="shortcode-sitemap.html"><i class="fa fa-sitemap"></i> Sitemap</a></li>
                                                 </ul>
                                             </div>
                                             <div class="col3">
                                                 <ul class="list-unstyled list-dashed">
                                                     <li><a href="shortcode-sliders.html"><i class="fa fa-sliders"></i> Sliders</a></li>
                                                     <li><a href="shortcode-smoothscrolling.html"><i class="fa fa-binoculars"></i> Smoothscrolling</a></li>
                                                     <li><a href="shortcode-social-icons.html"><i class="fa fa-facebook-square"></i> Social Icons</a></li>
                                                     <li><a href="shortcode-subscribe.html"><i class="fa fa-user-plus"></i> Subscribe</a></li>
                                                     <li><a href="shortcode-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                                                     <li><a href="shortcode-tabs.html"><i class="fa fa-indent"></i> Tabs</a></li>
                                                     <li><a href="shortcode-textblock.html"><i class="fa fa-bold"></i> Textblock</a></li>
                                                     <li><a href="shortcode-thumbnails-carousels.html"><i class="fa fa-sliders"></i> Thumbnails/carousels</a></li>
                                                     <li><a href="shortcode-title.html"><i class="fa fa-text-height"></i> Title</a></li>
                                                     <li><a href="shortcode-twitter.html"><i class="fa fa-twitter-square"></i> Twitter Feed</a></li>
                                                     <li><a href="shortcode-typography.html"><i class="fa fa-font"></i> Typography</a></li>
                                                     <li><a href="shortcode-vertical-timeline.html"><i class="fa fa-arrows-v"></i> Vertical Timeline</a></li>
                                                     <li><a href="shortcode-widgets.html"><i class="fa fa-gift"></i> Widgets</a></li>
                                                     <li><a href="shortcode-working-process.html"><i class="fa fa-exchange"></i> Working Process</a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>-->
                                </li>
                            </ul>
                            <ul class="pull-right flip hidden-sm hidden-xs">
                                <li><a class="btn btn-theme-colored mt-20 p-10 pl-20 pr-20 text-white btn-flat no-border" data-bg-color="rgba(230, 173, 188, 0.95)" data-toggle="modal" data-target="#BSParentModal" href="{{ asset('front/ajax-load/member-booking-form.html') }}" class="bs-modal-ajax-load" >Réserver Maintenant</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% block container %}

{% endblock %}


    <!-- Footer -->
    <footer id="footer" class="footer pb-0 bg-black-222">
        <div class="container pb-20">
            <div class="row multi-row-clearfix">
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Location</h5>
                        <ul class="list-border list theme-colored angle-double-right">
                            <li><a href="#"><i class="fa fa-map-marker pr-10"></i> 121 King Street</a></li>
                            <li><a href="#"><i class="fa fa-phone pr-10"></i> +262 695 2601</a></li>
                            <li><a href="#"><i class="fa fa-user pr-10"></i> you@yourdomain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Tags</h5>
                        <ul class="list-inline tags">
                            <li><a href="#">beauty</a></li>
                            <li><a href="#">face</a></li>
                            <li><a href="#">hair cut</a></li>
                            <li><a href="#">skin care</a></li>
                            <li><a href="#">style</a></li>
                            <li><a href="#">hair beauty</a></li>
                            <li><a href="#">massage</a></li>
                            <li><a href="#">waxing</a></li>
                            <li><a href="#">pedicures</a></li>
                            <li><a href="#">manicures</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Pages</h5>
                        <ul class="list-divider list-border list theme-colored angle-double-right">
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Promotions</h5>
                        <div class="mt-10 text-right"><a href="#" class="font-12"><img src="{{ asset('front/images/promotional.png') }}" class="img-fullwidth" alt=""></a></div>
                    </div>
                </div>
            </div>
            <h5 class="text-center letter-space-6 mt-30" data-text-color="#7f7f7f" style="float: left; ">Tel: 800-2345-6789<br></h5>
            <div style="float: right;">
                <ul class="social-icons list-inline text-center mt-20">
                    <li><a href="#" class="icon icon-cube facebook"><i class="fa fa-facebook font-24"></i></a> </li>
                    <li><a href="#" class="icon icon-cube twitter"><i class="fa fa-twitter font-24 "></i></a> </li>
                    <li><a href="#"  class="icon icon-cube facebook"><i class="fa fa-google-plus font-24"></i></a> </li>
                </ul>
                <p class="font-11 text-center mt-30 letter-space-2 text-black-light">2018 De Winter Group.  Tous Les Droits Sont Réservés.</p>
            </div>
        </div>
</footer>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->
{% block content %}
{% endblock %}

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{{ asset('front/js/custom.js') }}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.video.min.js') }}"></script>
</body>
</html>