{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Gestion des Déplacements</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <div class="col-sm-12" style="padding-left:0px;">
                            <a href="{{ path('soin_crm_ajout_deplacement') }}">
                                <button class="btn btn-danger btn-quirk btn-stroke">
                                    {{ 'Ajouter Deplacement'|trans }}
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="dataTable1" class="table table-bordered table-striped-col table-hover" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                    <th>Villes / quartiers</th>
                                    <th>KM A/R</th>
                                    <th>TPS A/R</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td>{{ entity.designation }}</td>
                                        <td>{{ entity.kilometre }}</td>
                                        <td>{{ entity.tps }}</td>
                                        <td>
                                            {% if entity.type==1 %}
                                                25km à 33km                                            {% endif %}
                                            {% if entity.type==2 %}
                                                10km à 24km                                            {% endif %}
                                            {% if entity.type==3 %}
                                                0km à 9km
                                            {% endif %}
                                        </td>
                                        <td>
                                            <ul class="table-options">
                                                <a href="{{ path('soin_crm_modifier_deplacement',{'id':entity.id}) }}">
                                                    <button class="btn btn-warning btn-xs">Modifier</button>
                                                </a>
                                                <a href="{{ path('soin_crm_supprimer_deplacement',{'id':entity.id}) }}"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce déplacement?')">
                                                    <button class="btn btn-danger btn-xs">Supprimer</button>
                                                </a>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>

    <!-- dataTable -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable1').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        } );
    </script>
{% endblock %}


