{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Fiche<a href="{{ path('soin_crm_client',{'id':fiche?fiche.Clientid.id}) }}">
                                    <button class="btn btn-info btn-quirk btn-stroke">
                                        {{ 'Retour'|trans }}
                                    </button>
                                </a></h1>

                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                            <div class="row ajout-article">
                                <div class="row col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="control-label">{{"Type de Peau"|trans}}</label>
                                            {{fiche? fiche.designation }}
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="control-label">{{"Produit utilisé"|trans}}</label>
                                            {{ fiche?fiche.description }}
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="control-label">{{"Recevoir des notification"|trans}}</label>
                                           {% if fiche?fiche.abonnement==1 %}OUI{% else %}NON{% endif %}
                                        </div>
                                    </div>

                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>

    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>


{% endblock %}


