<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>



    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Royalspa Health & Beauty Business Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Belle & Zen</title>

    <!-- Favicon and Touch Icons -->
    <link href="{{ asset('front/logo/logo.png') }}" rel="shortcut icon" type="image/png">
    <link href="{{ asset('front/images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ asset('front/images/apple-touch-icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
    <link href="{{ asset('front/images/apple-touch-icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">
    <link href="{{ asset('front/images/apple-touch-icon-144x144.png') }}" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="{{ asset('front/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/animate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/css-plugin-collections.css') }}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="{{ asset('front/css/menuzord-skins/menuzord-border-top.css') }}" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{{ asset('front/css/style-main.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="{{ asset('front/css/colors/theme-skin-colorset1.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="{{ asset('front/css/preloader.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{{ asset('front/css/custom-bootstrap-margin-padding.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{{ asset('front/css/responsive.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link  href="{{ asset('front/js/revolution-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

    <!-- external javascripts -->
    <script src="{{ asset('front/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{{ asset('front/js/jquery-plugin-collection.js') }}"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body >
<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <div id="preloader-ping-balls">
                <div class="cssload-loadingwrap">
                    <ul class="cssload-bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top header-dark navbar-theme-colored navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container">
                    <nav>
                        <div id="menuzord" class="menuzord no-bg" style="width: 110%!important;">
                            <a class="menuzord-brand" href="{{ path('kalitys_crm_homepage') }}"><img src="{{ asset('front/logo/logo.jpg') }}" alt="" style="width:263px;max-height:150px;margin-top:-20px;"></a>
                            <ul class="menuzord-menu" style="width: 57%!important;">
                                <li class="active" style="margin-right: 2%;margin-right: 2%;" ><a href="{{ path('kalitys_crm_homepage') }}" style="font-size: 16px;">Accueil</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_soin') }}" style="margin-left:-21px;font-size: 16px;">- Mes Soins</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_massage') }}" style="margin-left:-21px;font-size: 16px;">- Massages</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_beaute') }}" style="margin-left:-21px;font-size: 16px;">- Beauté</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_affiche_galerie') }}" style="margin-left:-21px;font-size: 16px;">- Galerie</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path("soin_crm_contact") }}" style="margin-left:-21px;font-size: 16px;">- Contact</a>
                                </li>
                                <!--<li  style="font-size: 16px;"><a href="{{ path("fos_user_change_password") }}" style="margin-left:-21px;font-size: 16px;">- pass</a>
                                </li>-->
                            </ul>

                            <ul class="pull-right flip hidden-sm hidden-xs">
                                <li>
                                    <div class="row col-sm-9" style="width: 265px;">
                                        <a  href="{{ path('soin_crm_achat') }}" class="btn btn-theme-colored mt-20 p-10 pl-20 pr-20 text-white btn-flat no-border col-sm-9"  style="width: 100px;"  >Réserver</a>
                                        <div class="dropdown col-sm-3" style="width:73px;margin-top: 7%;">
                                            <img src="{{ asset('front/logo/user.svg') }}" data-toggle="dropdown" >
                                               <!-- {% if app.user %}
                                                    <span class="glyphicon glyphicon-user" style="width: 12px;" ></span> Bonjour
                                                {% else %}
                                                    <span class="glyphicon glyphicon-user" style="width: 50px;"></span>
                                                {% endif %}-->
                                            </img>
                                            <ul class="dropdown-menu">
                                                {% if app.user %}
                                                    <li> <a  href="{{ path('fos_user_security_logout') }}"     >Déconnexion</a></li>
                                                {% else %}
                                                    <li>   <a  href="{{ path('fos_user_security_login') }}"   >Login</a></li>
                                                    <li>   <a  href="{{ path('fos_user_registration_register') }}"    >Inscription</a></li>
                                                {% endif %}
                                                <li>
                                                    <a  href="{{ path('soin_crm_calendrier_list') }}"    >Rendez vous</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
        <!-- Start main-content -->
        <div class="main-content" >
            <!-- Section: home -->
            <section id="home" class="divider">
                <div class="container-fluid p-0">

                    <!-- Slider Revolution Start -->
                    <div class="rev_slider_wrapper">
                        <div class="rev_slider" data-version="5.0">
                            <ul>

                                <!-- SLIDE 1 -->
                                <li data-index="rs-1" data-transition="fadetorightfadefromleft" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1600x900"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{{ asset('front/images/slide/slide1.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="opacity: 0.6;">
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                   <!-- <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-theme-color-3-transparent-light"
                                         id="rs-1-layer-1"
                                         data-x="['middle']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['30']"
                                         data-width="600"
                                         data-height="300"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[0%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:100px;y:[0%];s:inherit;e:inherit;"
                                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                         data-start="500"
                                         data-responsive_offset="on"
                                         style="z-index: 5;border-color:rgba(0, 0, 0, 0);"> </div>-->

                                    <!-- LAYER NR. 2 -->
                                   <!-- <div class="tp-caption tp-resizeme font-playball"
                                         id="rs-1-layer-2"

                                         data-x="['middle']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['-45']"
                                         data-fontsize="['58']"
                                         data-lineheight="['90']"

                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1000"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 7; white-space: nowrap;">Oil massage</div>-->

                                    <!-- LAYER NR. 3 -->
                                    <!--<div class="tp-caption tp-resizeme text-center font-weight-300 font-13"
                                         id="rs-1-layer-3"
                                         data-x="['middle']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['40']"
                                         data-fontsize="['16']"
                                         data-lineheight="['22']"

                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1400"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><p class="text-white"> Text Text Text Text Text Text Text Text Text Text Text <br>
                                            Text Text Text Text Text Text Text Text Text Text Text<br>
                                            Text Text Text Text Text Text Text Text Text Text Text<br>
                                            Text Text Text Text Text Text Text Text Text Text Text.</p></div>-->

                                    <!-- LAYER NR. 4 -->
                                   <!-- <div class="tp-caption tp-resizeme"
                                         id="rs-1-layer-4"

                                         data-x="['center']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['120']"

                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1400"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn" href="#">View Details</a>
                                    </div>-->
                                </li>

                                <!-- SLIDE 2 -->
                                <li data-index="rs-2" data-transition="fadetorightfadefromleft" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1600x777"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{{ asset('front/images/slide/slide2.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="opacity: 0.6;">
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                  <!--  <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-theme-color-2-transparent-light"
                                         id="rs-2-layer-1"
                                         data-x="['left']"
                                         data-hoffset="['15']"
                                         data-y="['middle']"
                                         data-voffset="['30']"
                                         data-width="650"
                                         data-height="300"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[0%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:100px;y:[0%];s:inherit;e:inherit;"
                                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                         data-start="500"
                                         data-responsive_offset="on"
                                         style="z-index: 5;border-color:rgba(0, 0, 0, 0);"> </div>-->

                                    <!-- LAYER NR. 2 -->
                                   <!-- <div class="tp-caption tp-resizeme font-playball"
                                         id="rs-2-layer-2"
                                         data-x="['left']"
                                         data-hoffset="['60']"
                                         data-y="['middle']"
                                         data-voffset="['-45']"
                                         data-fontsize="['58']"
                                         data-lineheight="['90']"

                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1000"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 7; white-space: nowrap;">spa usually offers </div>-->

                                    <!-- LAYER NR. 3 -->
                                  <!--  <div class="tp-caption tp-resizeme font-weight-300 font-13"
                                         id="rs-2-layer-3"
                                         data-x="['left']"
                                         data-hoffset="['60']"
                                         data-y="['middle']"
                                         data-voffset="['40']"
                                         data-fontsize="['16']"
                                         data-lineheight="['22']"
                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1400"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><p class="text-white">A day spa is different from a destination spa as no overnight <br>
                                            accommodationis provided. It is designed for people to attend during<br>
                                            one day,or more if they would like, while a  destination spa usually<br>
                                            requires at least a two or three night stay. </p></div>-->


                                </li>

                                <!-- SLIDE 3 -->
                                <li data-index="rs-3" data-transition="fadetorightfadefromleft" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="http://placehold.it/1600x900"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{{ asset('front/images/slide/slide3.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="opacity: 0.6;">
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                 <!--   <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-theme-color-1-transparent-light"
                                         id="rs-3-layer-1"
                                         data-x="['right']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['30']"
                                         data-width="650"
                                         data-height="300"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[0%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:100px;y:[0%];s:inherit;e:inherit;"
                                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                         data-start="500"
                                         data-responsive_offset="on"
                                         style="z-index: 5;border-color:rgba(0, 0, 0, 0);"> </div>-->

                                    <!-- LAYER NR. 2 -->
                                 <!--   <div class="tp-caption tp-resizeme font-playball"
                                         id="rs-3-layer-2"
                                         data-x="['right']"
                                         data-hoffset="['30']"
                                         data-y="['middle']"
                                         data-voffset="['-45']"
                                         data-fontsize="['58']"
                                         data-lineheight="['90']"

                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1000"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 7; white-space: nowrap;">facial treatments </div>-->

                                    <!-- LAYER NR. 3 -->
                                    <!--<div class="tp-caption tp-resizeme text-right font-weight-300 font-13"
                                         id="rs-3-layer-3"

                                         data-x="['right']"
                                         data-hoffset="['30']"
                                         data-y="['middle']"
                                         data-voffset="['40']"
                                         data-fontsize="['16']"
                                         data-lineheight="['22']"

                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1400"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><p class="text-white">Text Text Text Text Text Text Text Text Text Text Text <br>
                                            Text Text Text Text Text Text Text Text Text Text Text<br>
                                            Text Text Text Text Text Text Text Text Text Text Text<br>
                                            Text Text Text Text Text Text Text Text Text Text Text.</p></div>-->

                                    <!-- LAYER NR. 4 -->
                                    <!--<div class="tp-caption tp-resizeme"
                                         id="rs-3-layer-4"

                                         data-x="['right']"
                                         data-hoffset="['30']"
                                         data-y="['middle']"
                                         data-voffset="['120']"

                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1400"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="" href="#">View Details</a></div>-->
                                </li>

                            </ul>
                        </div><!-- end .rev_slider -->
                    </div>
                    <!-- Slider Revolution End -->
                    <script>
                        $(document).ready(function(e) {
                            var revapi = $(".rev_slider").revolution({
                                sliderType:"standard",
                                jsFileLocation: "js/revolution-slider/js/",
                                sliderLayout: "fullscreen",
                                dottedOverlay: "none",
                                delay: 5000,
                                navigation: {
                                    keyboardNavigation: "off",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation: "off",
                                    onHoverStop: "off",
                                    touch: {
                                        touchenabled: "on",
                                        swipe_threshold: 75,
                                        swipe_min_touches: 1,
                                        swipe_direction: "horizontal",
                                        drag_block_vertical: false
                                    },
                                    arrows: {
                                        style: "gyges",
                                        enable: true,
                                        hide_onmobile: false,
                                        hide_onleave: true,
                                        hide_delay: 200,
                                        hide_delay_mobile: 1200,
                                        tmp: '',
                                        left: {
                                            h_align: "left",
                                            v_align: "center",
                                            h_offset: 0,
                                            v_offset: 0
                                        },
                                        right: {
                                            h_align: "right",
                                            v_align: "center",
                                            h_offset: 0,
                                            v_offset: 0
                                        }
                                    },
                                    bullets: {
                                        enable: true,
                                        hide_onmobile: true,
                                        hide_under: 800,
                                        style: "hebe",
                                        hide_onleave: false,
                                        direction: "horizontal",
                                        h_align: "center",
                                        v_align: "bottom",
                                        h_offset: 0,
                                        v_offset: 30,
                                        space: 5,
                                        tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                                    }
                                },
                                responsiveLevels: [1240, 1024, 778],
                                visibilityLevels: [1240, 1024, 778],
                                gridwidth: [1170, 1024, 778, 480],
                                gridheight: [700, 768, 960, 720],
                                lazyType: "none",
                                parallax:"mouse",
                                parallaxBgFreeze:"off",
                                parallaxLevels:[2,3,4,5,6,7,8,9,10,1],
                                shadow: 0,
                                spinner: "off",
                                stopLoop: "off",
                                stopAfterLoops: -1,
                                stopAtSlide: -1,
                                shuffle: "off",
                                autoHeight: "off",
                                fullScreenAutoWidth: "off",
                                fullScreenAlignForce: "off",
                                fullScreenOffsetContainer: "",
                                fullScreenOffset: "0",
                                hideThumbsOnMobile: "off",
                                hideSliderAtLimit: 0,
                                hideCaptionAtLimit: 0,
                                hideAllCaptionAtLilmit: 0,
                                debugMode: false,
                                fallbacks: {
                                    simplifyAll: "off",
                                    nextSlideOnWindowFocus: "off",
                                    disableFocusListener: false,
                                }
                            });
                        });
                    </script>
                    <!-- Slider Revolution Ends -->
                </div>
            </section>

            <!-- Section Welcome  -->
            <section id="welcome">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="about-royalspa border-10px p-20 pb-0 bg-lighter" data-margin-top="-150px">
                                    <div class="icon-box p-0 mb-40">
                                        <a href="#" class="icon icon-xl mb-0 mr-0 pull-left" style="margin-top: -3%;">
                                            <img class="img-circle" src="{{ asset('front/logo/fille_slide.jpg') }}" alt="" >
                                        </a>
                                        <div class="ml-150" >
                                            <h4 class="icon-box-title mt-15 font-playball" style="color: #202121;font-size: 22px;">Votre esthéticienne Professionnelle</h4>
                                            <p class="text-gray">Diplômée d'état depuis 2012, je propose des soins esthétiques à domicile et dans votre institut de beauté Belle et Zen à Martinique .</p>
                                             <!-- <a href="#" class="btn btn-theme-colored btn-flat btn-xs"><i></i> Lire Encore</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Section: About -->
          <!--  <section id="about" class="about">
                <div class="container pt-0">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="mt-60 img-fullwidth" src="http://placehold.it/391x259" alt="">
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                      <div class="col-md-3 text-center">
                                          <div class="icon-box iconbox-theme-colored mb-0 pb-10">
                                              <a href="#" class="icon icon-dark icon-circled icon-border-effect effect-circled icon-lg">
                                                  <i class="flaticon-claw1 mb-10"></i></a>
                                              <h6 class="text-uppercase letter-space-3">Anyi Aging</h6>
                                          </div>
                                      </div>
                                      <div class="col-md-3 text-center">
                                          <div class="icon-box iconbox-theme-colored mb-0 pb-10">
                                              <a href="#" class="icon icon-dark icon-circled icon-border-effect effect-circled icon-lg">
                                                  <i class="flaticon-spa22 mb-10"></i></a>
                                              <h6 class="text-uppercase letter-space-3">Relaxation</h6>
                                          </div>
                                      </div>
                                      <div class="col-md-3 text-center">
                                          <div class="icon-box iconbox-theme-colored mb-0 pb-10">
                                              <a href="#" class="icon icon-dark icon-circled icon-border-effect effect-circled icon-lg">
                                                  <i class="flaticon-swimming8 mb-10"></i></a>
                                              <h6 class="text-uppercase letter-space-3">Decor Set</h6>
                                          </div>
                                      </div>
                                      <div class="col-md-3 text-center">
                                          <div class="icon-box iconbox-theme-colored mb-0 pb-10">
                                              <a href="#" class="icon icon-dark icon-circled icon-border-effect effect-circled icon-lg">
                                                  <i class="flaticon-towel mb-10"></i></a>
                                              <h6 class="text-uppercase letter-space-3">Detoxification</h6>
                                          </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-uppercase">Présentation de la société <span class="text-theme-colored font-playball text-lowercase font-28 letter-space-4"> Text Text</span></h3>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text TextText Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p></div>
                                    <div class="col-md-6">
                                        <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text TextText Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->



            <!-- Section: Services -->
            <!-- Section: Services -->
            <section id="services">
                <div class="container pt-0 pb-70">
                    {% if app.session.flashBag.has('mail') %}
                        <div class="alert alert-danger">
                            {% set msg=app.session.flashBag.get('mail')  %}
                            <h3>{{ msg[0].title }}</h3>
                            <h5>{{ msg[0].msg }}</h5>
                        </div>
                    {% endif %}
                    <div class="section-title">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <h2 class="font-playball font-36" style="font-size: 44px !important;">Nos Prestations</h2>
                                <p class="subtitle">Votre esthéticienne Elsa vous prodiguera différentes prestations adaptées à chacun de vos besoins </p>

                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="row mt-100 pt-5">
                            {% for entry in results %}
                                <div class="col-md-4">
                                    <div class="service-items style2 text-center bg-theme-color-{{ entry.id }}" style="height: 100%;">
                                        <div class="thumb"><img class="img-circle img-fullwidth" src="{{ asset('image/famille/'~entry.logo) }}" alt="" style="width:291px;height:150px;"></div>
                                        <div class="content p-30">
                                            <h4 class="text-brown text-uppercase"><a href="#">{{ entry.designation }}</a></h4>
                                            <p>{{ entry.description }}</p>
                                            {% if entry.id==1 %}
                                                {% set p='soin_crm_soin' %}
                                            {% elseif entry.id==2 %}
                                                {% set p='soin_crm_massage' %}
                                            {% else %}
                                                {% set p='soin_crm_beaute' %}
                                            {% endif %}
                                            <a class="btn" href="{{ path(p) }}"> Lire Encore</a> </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="section-title" style="margin-top: 3%;">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <div class="subtitle-divider">
                                    <div class="title-icon font-36"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section Blog -->
            <section id="blog" style="margin-top: -10%;">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-posts carousel-2col">
                                    <article class="post items">
                                        <div class="entry-header">
                                            <div class="post-thumb"> <img class="img-responsive" src="{{ asset('front/logo/spraining.jpg') }}" alt=""> </div>
                                        </div>
                                    </article>
                                    <article class="post items">
                                        <div class="entry-header">
                                            <div class="post-thumb"> <img class="img-responsive" src="{{ asset('front/logo/spraining1.jpg') }}" alt=""> </div>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider: Testimunial -->
            <section class="testimunial" style='background-image: url("{{ asset('front/logo/cadeau.jpg') }}");background-repeat: no-repeat;background-size: 100% 100%;height: 750px;;margin-top: -3%;'>
                <div class="container pt-50 pb-70">
                    <div class="row" style="margin-top: 5%;">
                        <div class="carousel-reviews broun-block">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="features-health p-30 pb-10 pr-sm-15 pl-xs-15 bg-lightest border-10px" style="margin-top:-4%;width:65%;" >
                                        <h2 class="font-playball font-36" >Chèque Cadeau</h2>
                                        <!--<h5 class="media-heading heading"><a href="#">Titre Titre</a></h5>-->
                                        <p>Fête des mères, fêtes de fin d’année, anniversaire, ou simplement envie de faire plaisir !<br>
                                            Pensez à offrir un bon cadeau Belle & Zen !<br>
                                            Le soin de votre choix pour une invitation au bien-être !.</p>
                                        <div class="icon-box media mb-0 pt-20 pb-10"> <a class="media-left pull-left mb-sm-15 mr-10" href="#"></a>
                                            <div class="media-body">
                                                <a class="btn btn-theme-colored btn-flat btn-md mt-10" href="{{ path('soin_crm_cheque_cadeau') }}">Lire Encore</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
            <!-- Section Blog -->
            <section id="blog" class="bg-lightest" style="background-color: #fcfcfc !important ;margin-top: 1%;" >
                <div class="container pb-40">
                    <div class="section-content">
                        <div class="row">
                            <center><img  src="{{ asset('front/logo/radio.png') }}" alt="" style="width: 35%;margin-top:-6%;margin-bottom:1%;"></center>
                            <div class="col-md-12">
                                <div class="blog-posts">
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <article class="post">
                                            <div class="entry-header">
                                                <div class="post-thumb" style="height: 245px;">
                                                    <iframe class="img-responsive img-fullwidth" style="height: 247px;"
                                                            src="https://www.youtube.com/embed/kJsJ8AU53QU">
                                                    </iframe>
                                                   <!-- <img class="img-responsive img-fullwidth" src="{{ asset('front/logo/video1.jpg') }}" alt="">-->
                                                    </div>
                                                <div class="col-sm-3">
                                                    <img  src="{{ asset('front/logo/youtube.png') }}" alt="" style="width: 100%;">
                                                </div>
                                                <div class="entry-meta ml-100 ml-sm-0">
                                                    <div class="entry-date text-right mr-20"> <a href="#"> <span class="day font-36 font-weight-700">05</span> <span class="month font-14">NOV</span></a> </div>
                                                    <a href="#">
                                                        <h5 class="entry-title mt-10 font-20 mb-0 pt-sm-10">EP.2 Protocole d’hygiène quotidienne visage et les soins mensuels</h5>
                                            <div class="clearfix"></div>
                                            <div class="entry-content">
                                                <a href="" class="" > <img  src="{{ asset('front/logo/abonner.jpg') }}" alt="" style=";float:right;width: 23%;"></a> </div>
                                        </article>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="row">
                                            <article class="post mb-30 clearfix">
                                                <div class="col-sm-6">
                                                    <div class="entry-header">
                                                        <div class="post-thumb">
                                                            <iframe class="img-responsive img-fullwidth"
                                                                    src="https://www.youtube.com/embed/58hNlkDnuhA">
                                                            </iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mt-sm-20">
                                                    <div class="entry-meta">
                                                        <div class="entry-date text-right pr-40 mr-20" style="height: 100px;"> <a href="#"> <span class="day font-18 font-weight-700">05</span> <span class="month font-14" data-text-color="#b0b0b0">NOV</span></a> </div>
                                                        <a href="#">
                                                            <h5 class="entry-title mt-0 font-18 mb-0 pt-10">Présentation : Les Chroniques de ZAZOU</h5>
                                                        </a> </div>
                                                    <div class="clearfix"></div>
                                                    <div class="entry-content">
                                                        <p></p>
                                                        <a href="" class="" > <img  src="{{ asset('front/logo/abonner.jpg') }}" alt="" style=";width: 48%;"></a> </div>
                                                </div>
                                            </article>
                                            <article class="post mb-30 clearfix">
                                                <div class="col-sm-6">
                                                    <div class="entry-header">
                                                        <div class="post-thumb">
                                                            <iframe class="img-responsive img-fullwidth"
                                                                    src="https://www.youtube.com/embed/YnFol9nKH_w">
                                                            </iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mt-sm-20">
                                                    <div class="entry-meta">
                                                        <div class="entry-date text-right pr-40 mr-20" style="height: 100px;"> <a href="#"> <span class="{{ asset('front/logo/video3.jpg') }}">05</span> <span class="month font-14" data-text-color="#b0b0b0">NOV</span></a> </div>
                                                        <a href="#">
                                                            <h5 class="entry-title mt-0 font-18 mb-0 pt-10">EP.1 Savoir reconnaître son type de peau
                                                            </h5>
                                                        </a> </div>
                                                    <div class="clearfix"></div>
                                                    <div class="entry-content">
                                                        <p></p>
                                                        <a href="" class="" > <img  src="{{ asset('front/logo/abonner.jpg') }}" alt="" style=";width: 48%;"></a> </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Divider: Testimunial -->
            <section class="testimunial" style='background-image: url("{{ asset('front/logo/avis.jpg') }}");background-repeat: no-repeat;background-size: 100% 100%;margin-top: 1%;'>
                <div class="container pt-50 pb-70">
                    <div class="row">
                        <div class="carousel-reviews broun-block">
                            <div class="row">
                                <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="block-text rel zmin text-center">
                                                    <i class=""></i>
                                                    <div class="feedback p-20" style="height: 219px;">
                                                        <div class="big-triangle" style="border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff973a;"></div>
                                                        <div class="big-icon"><i class="fa fa-quote-right fa-lg"></i></div>
                                                        <p>Très professionnelle. Délicate dans ses gestes et à l'écoute du client. Je suis entièrement satisfaite de la prestation Microblading sur mes sourcils, sans douleurs, le résultat est surprenant et naturel. Je vous la recommande. Merci Elsa.</p>
                                                    </div>

                                                    <div class="person-name text-uppercase bg-theme-colored"><h5 class="mb-0 mt-0 p-5 text-white"><strong>Auréline Eve Monlouis Privat</strong> <span class="font-12 text-white"></span></h5></div>
                                                    <ins class="ab zmin sprite sprite-i-triangle block"></ins> </div>
                                                <div class="person-text rel">
                                                    <img class="img-circle" src="{{ asset('front/logo/personne.jpg') }}" style="width:75px;height:75px;" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 hidden-xs">
                                                <div class="block-text rel zmin text-center">
                                                    <i class=""></i>
                                                    <div class="feedback p-20" style="height: 219px;">
                                                        <div class="big-triangle" style="border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff973a;"></div>
                                                        <div class="big-icon"><i class="fa fa-quote-right fa-lg"></i></div>
                                                        <p>Elsa est super! 100% satisfaite ;) 
                                                            Elle sait cerner les attentes de ses clients et est très professionnelle.
                                                            Je vous la recommande.</p>
                                                    </div>

                                                    <div class="person-name text-uppercase bg-theme-colored"><h5 class="mb-0 mt-0 p-5 text-white"><strong>Bene Keyah</strong> <span class="font-12 text-white"></span></h5></div>
                                                    <ins class="ab zmin sprite sprite-i-triangle block"></ins> </div>
                                                <div class="person-text rel">
                                                    <img class="img-circle" src="{{ asset('front/logo/personne1.jpg') }}" alt="" style="width:75px;height:75px;">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                                <div class="block-text rel zmin text-center">
                                                    <i class=""></i>
                                                    <div class="feedback p-20" style="height: 219px;">
                                                        <div class="big-triangle" style="border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff973a;"></div>
                                                        <div class="big-icon"><i class="fa fa-quote-right fa-lg"></i></div>
                                                        <p>Chaleureuse, professionnelle, rigoureuse et gros + pour le déplacement à domicile</p>
                                                    </div>

                                                    <div class="person-name text-uppercase bg-theme-colored"><h5 class="mb-0 mt-0 p-5 text-white"><strong>Elody Orlay    </strong> <span class="font-12 text-white"></span></h5></div>
                                                    <ins class="ab zmin sprite sprite-i-triangle block"></ins> </div>
                                                <div class="person-text rel">
                                                    <img class="img-circle" src="{{ asset('front/logo/personne2.jpg') }}" style="width:75px;height:75px;" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Section: gallery -->
            <section id="gallery" class="bg-lighter" style='background-image: url("{{ asset('front/logo/galerie.jpg') }}");background-repeat: no-repeat;background-size: 100% 100%;margin-top: 2%;margin-bottom: 0.2%;'>
                <div class="container-fluid">
                    <div class="section-title">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <h2 class="font-playball font-36" style="color:#f5f5f5;font-size: 44px !important;">Notre Galerie</h2>
                              <!--  <p class="subtitle" style="color:#f5f5f5;">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text TextText Text Text Text.</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="grid" class="portfolio-gallery masonry gutter grid-4 clearfix" data-lightbox="gallery">
                                    {% for entry in galerie %}
                                        <div class="portfolio-item">
                                            <a href="{{ asset('image/galerie/'~entry.logo) }}" data-lightbox="gallery-item" >
                                                <div class="thumb">
                                                    <img class="img-fullwidth photo" src="{{ asset('image/galerie/'~entry.logo) }}" alt="project" style="height: 258px;">
                                                    <div class="overlay-shade"></div>
                                                    <!--<div class="text-holder">
                                                        <div class="title text-center">{{ entry.designation }}</div>
                                                    </div>-->
                                                    <div class="icons-holder">
                                                        <div class="icons-holder-inner">
                                                            <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                                <i class="fa fa-plus text-white"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <!-- end main-content -->
    {% endblock %}


<!-- Footer -->
<footer id="footer" class="footer pb-0 bg-black-222 col-sm-9" style="height:438px;" >
    <div class="container pb-20">
        <div class="row multi-row-clearfix">
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Horaires d'ouverture</h5>
                    <div class="opening-hourse">
                        <ul class="list list-border">
                            <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> lundi :</span>
                                <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                            </li>
                            <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mardi :  </span>
                                <div class="value pull-right"> 07:00 - 20:00 </div>
                            </li>
                            <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mercredi :</span>
                                <div class="value pull-right"> 07:00 - 20:00 </div>
                            </li>
                            <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> jeudi :</span>
                                <div class="value pull-right"> 07:00 - 20:00 </div>
                            </li>
                            <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> vendredi :</span>
                                <div class="value pull-right"> 07:00 - 20:00 </div>
                            </li>
                            <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> samedi : </span>
                                <div class="value pull-right"> 07:00 - 13:00 </div>
                            </li>
                            <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> dimanche :</span>
                                <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Pages</h5>
                    <ul class="list list-border">
                        <li><a href="{{ path('kalitys_crm_homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('soin_crm_soin') }}">Mes Soins</a></li>
                        <li><a href="{{ path('soin_crm_massage') }}">Massages</a></li>
                        <li><a href="{{ path('soin_crm_beaute') }}">Beauté</a></li>
                        <li><a href="{{ path('soin_crm_affiche_galerie') }}">Galerie</a></li>
                        <li><a href="{{ path('soin_crm_contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Contact Rapide</h5>
                    <form id="footer_quick_contact_form" name="footer_quick_contact_form" class="quick-contact-form" action="{{ path('crm_soin_contact_rapide') }}" method="post">
                        <div class="form-group">
                            <input id="form_email" name="form_email" class="form-control" type="email" required="" placeholder=" Email">
                        </div>
                        <div class="form-group">
                            <textarea id="form_message" name="form_message" class="form-control" required="" placeholder=" Message" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                            <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" data-loading-text="Attendez...">Envoyer</button>
                        </div>
                    </form>


                </div>
            </div>

        </div>

    </div>
    </div>
</footer>
</div>
</footer>
<footer id="footer" class="footer pb-0 bg-black-222 col-sm-3" style="height:438px;">
    <div class="container pb-20">
        <div class="row multi-row-clearfix">
            <div class="col-md-12 " >
                <div class="widget"><a href="{{ path('kalitys_crm_homepage') }}"> <img alt="" src="{{ asset('front/logo/logo.png') }} " style="width:20%;"></a>
                    <p class="font-12 mt-10 mb-10" style="color: #b5adad;">
                        Belle & Zen - Elsa, sur rendez-vous uniquement et <br>
                        pour votre confort,je propose mes services à <br>
                        domicile ou en institut (Zac de Rivère Roche).</p>
                    <!-- <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="#">Lire Encore</a>-->
                    <ul class="social-icons icon-sm icon-bordered icon-circled clearfix mt-20">
                        <li><a href="https://www.facebook.com/Belleetzenmartinique/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <!--  <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="https://www.instagram.com/belleetzenmartinique/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-fa fa-linkedin"></i></a></li>
                         <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>

</footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{{ asset('front/js/custom.js') }}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
       The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/revolution-slider/js/extensions/revolution.extension.video.min.js') }}"></script>
</body>
</html>