<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>


    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Royalspa Health & Beauty Business Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Massage</title>

    <!-- Favicon and Touch Icons -->
    <link href="{{ asset('front/logo/logo.png') }}" rel="shortcut icon" type="image/png">
    <link href="{{ asset('front/images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ asset('front/images/apple-touch-icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
    <link href="{{ asset('front/images/apple-touch-icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">
    <link href="{{ asset('front/images/apple-touch-icon-144x144.png') }}" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="{{ asset('front/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/animate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/css-plugin-collections.css') }}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="{{ asset('front/css/menuzord-skins/menuzord-border-top.css') }}" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{{ asset('front/css/style-main.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="{{ asset('front/css/colors/theme-skin-colorset1.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="{{ asset('front/css/preloader.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{{ asset('front/css/custom-bootstrap-margin-padding.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{{ asset('front/css/responsive.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link  href="{{ asset('front/js/revolution-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

    <!-- external javascripts -->
    <script src="{{ asset('front/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{{ asset('front/js/jquery-plugin-collection.js') }}"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body class="">
<div id="wrapper">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <div id="preloader-ping-balls">
                <div class="cssload-loadingwrap">
                    <ul class="cssload-bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top header-dark navbar-theme-colored navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container">
                    <nav>
                        <div id="menuzord" class="menuzord no-bg" style="width: 110%!important;">
                            <a class="menuzord-brand" href="{{ path('kalitys_crm_homepage') }}"><img src="{{ asset('front/logo/logo.jpg') }}" alt="" style="width:263px;max-height:150px;margin-top:-20px;"></a>
                            <ul class="menuzord-menu" style="width: 57%!important;">
                                <li class="active" style="margin-right: 2%;margin-right: 2%;" ><a href="{{ path('kalitys_crm_homepage') }}" style="font-size: 16px;">Accueil</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_soin') }}" style="margin-left:-21px;font-size: 16px;">- Mes Soins</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_massage') }}" style="margin-left:-21px;font-size: 16px;">- Massages</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_beaute') }}" style="margin-left:-21px;font-size: 16px;">- Beauté</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_affiche_galerie') }}" style="margin-left:-21px;font-size: 16px;">- Galerie</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path("soin_crm_contact") }}" style="margin-left:-21px;font-size: 16px;">- Contact</a>
                                </li>
                                <!--<li  style="font-size: 16px;"><a href="{{ path("fos_user_change_password") }}" style="margin-left:-21px;font-size: 16px;">- pass</a>
                                </li>-->
                            </ul>
                            <ul class="pull-right flip hidden-sm hidden-xs">
                                <li>
                                    <div class="row col-sm-9" style="width: 265px;">
                                        <a  href="{{ path('soin_crm_achat') }}" class="btn btn-theme-colored mt-20 p-10 pl-20 pr-20 text-white btn-flat no-border col-sm-9"  style="width: 100px;"  >Réserver</a>
                                        <div class="dropdown col-sm-3" style="width:73px;margin-top: 7%;">
                                            <img src="{{ asset('front/logo/user.svg') }}" data-toggle="dropdown" >

                                            </img>
                                            <ul class="dropdown-menu">
                                                {% if app.user %}
                                                    <li> <a  href="{{ path('fos_user_security_logout') }}"     >Déconnexion</a></li>
                                                {% else %}
                                                    <li>   <a  href="{{ path('fos_user_security_login') }}"   >Login</a></li>
                                                    <li>   <a  href="{{ path('fos_user_registration_register') }}"    >Inscription</a></li>
                                                {% endif %}
                                                <li>
                                                    <a  href="{{ path('soin_crm_calendrier_list') }}"    >Rendez vous</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{{ asset('front/logo/massage.jpg') }}" >
            <div class="container pt-120 pb-50">
                <!-- Section Content -->
                <div class="section-content pt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title text-white" style="font-size: 40px;">Massages</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="">
            <div class="container mt-30 mb-30 p-30">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row multi-row-clearfix">
                                <div class="products">
                                    {% for entry in pagination %}
                                        <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                                            <div class="product">
                                               <!-- <span class="tag-sale">{{ entry.prod.designation }}</span>-->
                                                <div class="product-thumb" style="width:284px;">
                                                    {% if entry.prod.logo != null %}
                                                        <img alt="" src="{{ asset("image/produit/")~entry.prod.logo }}" class="img-responsive img-fullwidth" style="height: 218px;">
                                                    {% else %}
                                                        <img alt="" src="{{ asset("image/logo.jpg") }}" class="img-responsive img-fullwidth">
                                                    {% endif %}
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="product-details text-center" style="height: 163px;">
                                                    <a href="#"><h5 class="product-title" >{{ entry.prod.designation }}</h5></a>
                                                    <div class="price">
                                                        <!-- <del><span class="amount">$520.00</span></del>-->
                                                        <ins><span class="amount">{{ entry.prod.prix }} €</span></ins></div>
                                                    <div class="btn-add-to-cart-wrapper">
                                                        <center><a class="btn btn-default btn-xs btn-add-to-cart" href="javascript:select({{ entry.prod.id }});" style="display: {{ entry.achat }};background-color: red;width: 150px;color: #ffffff;" >Ajouter au panier</a></center>
                                                    </div>
                                                    {% if entry.achat=='none' %}
                                                         <h6 style="color:#2eb82e;">produit ajouté</h6>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h2></h2>
                        <!-- Trigger the modal with a button -->

                        <!-- Modal -->
                        <div class="modal" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">la prestation est bien ajoutée dans vos achats</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>la prestation est bien ajoutée dans vos achats.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('soin_crm_massage') }}" ><button type="button" class="btn btn-danger" >Continuer Vos Achats</button></a>
                                        <a href="{{ path('soin_crm_achat') }}"><button type="button" class="btn btn-warning" >Accéder Au Panier</button></a>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
    <!-- end main-content -->


    <!-- Footer -->
    <footer id="footer" class="footer pb-0 bg-black-222 col-sm-9" style="height:438px;" >
        <div class="container pb-20">
            <div class="row multi-row-clearfix">
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Horaires d'ouverture</h5>
                        <div class="opening-hourse">
                            <ul class="list list-border">
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> lundi :</span>
                                    <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mardi :  </span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mercredi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> jeudi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> vendredi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> samedi : </span>
                                    <div class="value pull-right"> 07:00 - 13:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> dimanche :</span>
                                    <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Pages</h5>
                        <ul class="list list-border">
                            <li><a href="{{ path('kalitys_crm_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('soin_crm_soin') }}">Mes Soins</a></li>
                            <li><a href="{{ path('soin_crm_massage') }}">Massages</a></li>
                            <li><a href="{{ path('soin_crm_beaute') }}">Beauté</a></li>
                            <li><a href="{{ path('soin_crm_affiche_galerie') }}">Galerie</a></li>
                            <li><a href="{{ path('soin_crm_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Contact Rapide</h5>
                        <form id="footer_quick_contact_form" name="footer_quick_contact_form" class="quick-contact-form" action="{{ path('crm_soin_contact_rapide') }}" method="post">
                            <div class="form-group">
                                <input id="form_email" name="form_email" class="form-control" type="email" required="" placeholder=" Email">
                            </div>
                            <div class="form-group">
                                <textarea id="form_message" name="form_message" class="form-control" required="" placeholder=" Message" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                                <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" data-loading-text="Attendez...">Envoyer</button>
                            </div>
                        </form>


                    </div>
                </div>

            </div>

        </div>
</div>
</footer>
</div>
</footer>
<footer id="footer" class="footer pb-0 bg-black-222 col-sm-3" style="height:438px;">
    <div class="container pb-20">
        <div class="row multi-row-clearfix">
            <div class="col-md-12 " >
                <div class="widget"><a href="{{ path('kalitys_crm_homepage') }}"> <img alt="" src="{{ asset('front/logo/logo.png') }} " style="width:20%;"></a>
                    <p class="font-12 mt-10 mb-10" style="color: #b5adad;">
                        Belle & Zen - Elsa, sur rendez-vous uniquement et <br>
                        pour votre confort,je propose mes services à <br>
                        domicile ou en institut (Zac de Rivère Roche).</p>
                    <!-- <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="#">Lire Encore</a>-->
                    <ul class="social-icons icon-sm icon-bordered icon-circled clearfix mt-20">
                        <li><a href="https://www.facebook.com/Belleetzenmartinique/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <!--  <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="https://www.instagram.com/belleetzenmartinique/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-fa fa-linkedin"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-fa fa-linkedin"></i></a></li>
                         <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>

</footer>
<div class="container-fluid bg-theme-colored p-20" >
    <div class="row text-center">
        <div class="col-md-12">
            <p class="text-black font-11 m-0" style="padding-top:1%;">Copyright &copy;2018 Dewinter Groupe. Tout les droits sont réservées</p>
        </div>
    </div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{{ asset('front/js/custom.js') }}"></script>

</body>
</html>
<script>
    function select(id){
        var path="{{ path('soin_crm_session',{'id':'aa','url':'soin_crm_massage'}) }}";
        var p=path.replace('aa',id);
        var modal = document.getElementById('myModal');
        $.ajax({
            url : p,
            type : 'POST',
            success : function(data, status){
                modal.style.display = "block";
            },
            error : function(resultat, status, error){
            }
        });
    }
</script>