<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>



    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Royalspa Health & Beauty Business Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Achats</title>

    <!-- Favicon and Touch Icons -->
    <link href="{{ asset('front/logo/logo.png') }}" rel="shortcut icon" type="image/png">
    <link href="{{ asset('front/images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ asset('front/images/apple-touch-icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
    <link href="{{ asset('front/images/apple-touch-icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">
    <link href="{{ asset('front/images/apple-touch-icon-144x144.png') }}" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="{{ asset('front/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/animate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/css-plugin-collections.css') }}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="{{ asset('front/css/menuzord-skins/menuzord-border-top.css') }}" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{{ asset('front/css/style-main.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="{{ asset('front/css/colors/theme-skin-colorset1.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="{{ asset('front/css/preloader.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{{ asset('front/css/custom-bootstrap-margin-padding.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{{ asset('front/css/responsive.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link  href="{{ asset('front/js/revolution-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

    <!-- external javascripts -->
    <script src="{{ asset('front/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{{ asset('front/js/jquery-plugin-collection.js') }}"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body class="">
<div id="wrapper">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <div id="preloader-ping-balls">
                <div class="cssload-loadingwrap">
                    <ul class="cssload-bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top header-dark navbar-theme-colored navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container">
                    <nav>
                        <div id="menuzord" class="menuzord no-bg" style="width: 110%!important;">
                            <a class="menuzord-brand" href="{{ path('kalitys_crm_homepage') }}"><img src="{{ asset('front/logo/logo.jpg') }}" alt="" style="width:263px;max-height:150px;margin-top:-20px;"></a>
                            <ul class="menuzord-menu" style="width: 57%!important;">
                                <li class="active" style="margin-right: 2%;margin-right: 2%;" ><a href="{{ path('kalitys_crm_homepage') }}" style="font-size: 16px;">Accueil</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_soin') }}" style="margin-left:-21px;font-size: 16px;">- Mes Soins</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_massage') }}" style="margin-left:-21px;font-size: 16px;">- Massages</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_beaute') }}" style="margin-left:-21px;font-size: 16px;">- Beauté</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path('soin_crm_affiche_galerie') }}" style="margin-left:-21px;font-size: 16px;">- Galerie</a>
                                </li>
                                <li  style="font-size: 16px;margin-right: 2%;margin-right: 2%;"><a href="{{ path("soin_crm_contact") }}" style="margin-left:-21px;font-size: 16px;">- Contact</a>
                                </li>
                                <!--<li  style="font-size: 16px;"><a href="{{ path("fos_user_change_password") }}" style="margin-left:-21px;font-size: 16px;">- pass</a>
                                </li>-->
                            </ul>
                            <ul class="pull-right flip hidden-sm hidden-xs">
                                <li>
                                    <div class="row col-sm-9" style="width: 265px;">
                                        <a  href="{{ path('soin_crm_achat') }}" class="btn btn-theme-colored mt-20 p-10 pl-20 pr-20 text-white btn-flat no-border col-sm-9"  style="width: 100px;"  >Réserver</a>
                                        <div class="dropdown col-sm-3" style="width:73px;margin-top: 7%;">
                                            <img src="{{ asset('front/logo/user.svg') }}" data-toggle="dropdown" >
                                            <!-- {% if app.user %}
                                                    <span class="glyphicon glyphicon-user" style="width: 12px;" ></span> Bonjour
                                                {% else %}
                                                    <span class="glyphicon glyphicon-user" style="width: 50px;"></span>
                                                {% endif %}-->
                                            </img>
                                            <ul class="dropdown-menu">
                                                {% if app.user %}
                                                    <li> <a  href="{{ path('fos_user_security_logout') }}"     >Déconnexion</a></li>
                                                {% else %}
                                                    <li>   <a  href="{{ path('fos_user_security_login') }}"   >Login</a></li>
                                                    <li>   <a  href="{{ path('fos_user_registration_register') }}"    >Inscription</a></li>
                                                {% endif %}
                                                <li>
                                                    <a  href="{{ path('soin_crm_calendrier_list') }}"    >Rendez vous</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{{ asset('front/logo/achat.jpg') }}">
            <div class="container pt-120 pb-50">
                <!-- Section Content -->
                <div class="section-content pt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title text-white" style="font-size: 40px;">Achats</h3>
                               
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="section-content">
                    {% if app.session.flashBag.has('agenda') %}
                        <div class="alert alert-danger">
                            {% set msg=app.session.flashBag.get('agenda')  %}
                                <h3>{{ msg[0].title }}</h3>
                                <h5>{{ msg[0].msg }}</h5>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" style="display: {{ visible }}">
                            <table class="table table-bordered tbl-shopping-cart">
                                <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Nom</th>
                                    <th>Munite</th>
                                    <th>Prix</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entry in pagination %}
                                    <tr class="cart_item">
                                        <td class="product-thumbnail"><a href="#">
                                                {% if entry.logo != null %}
                                                    <img alt="member" src="{{ asset("image/produit/")~entry.logo }}">
                                                {% else %}
                                                    <img alt="member" src="{{ asset("image/logo.jpg") }}" >
                                                {% endif %}
                                            </a></td>
                                        <td class="product-name"><a href="#">{{ entry.designation }}</a>
                                        <td>
                                            {% if entry.SousFamilleid.Familleid.id==2 %}
                                                <input type="number" id="quantite{{ entry.id }}" value="{{ entry.dureMin }}">
                                            {% endif %}
                                        </td>
                                        <td class="product-price"><span class="amount" id="prix{{ entry.id }}">{{ entry.prix }} </span>€</td>
                                        <td class="product-subtotal"><a href="{{ path('soin_crm_achat_supprimer',{'id':entry.id}) }}"> <span class="amount">Supprimer</span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if pagination == null %}
                             {% set des='none' %}
                            {% set des1='block' %}
                        {% else %}
                             {% set des ='block' %}
                            {% set des1='none' %}
                        {% endif %}
                        <div class="col-md-10 col-md-offset-1 mt-30" style="display: {{ des1 }}">
                            <h5>Aucun produit à afficher, votre panier est vide</h5>
                        </div>
                        <div class="col-md-10 col-md-offset-1 mt-30" style="display: {{ des }}">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Déplacement</h4>
                                    <form class="form" action="" method="post">
                                        <table class="table no-border">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    {{ form_errors(form.titre)}}
                                                    {{ form_widget(form.titre, {'attr': {'class': 'form-control autocomplete','placeholder':"Titre"|trans}}) }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ form_errors(form.locale)}}
                                                    {{ form_widget(form.locale, {'attr': {'class': 'form-control autocomplete','placeholder':"Locale"|trans}}) }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        {{ form_errors(form.Deplacementid)}}
                                                        {{ form_widget(form.Deplacementid, {'attr': {'class': 'form-control autocomplete','placeholder':"Lieu"|trans}}) }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ form_errors(form.date)}}
                                                    {{ form_widget(form.date, {'attr': {'class': 'form-control autocomplete','placeholder':"Date"|trans,'required':"required"}}) }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ form_errors(form.heure)}}
                                                    {{ form_widget(form.heure, {'attr': {'class': 'form-control autocomplete','placeholder':"Locale"|trans,'required':"required"}}) }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:select();" class="btn btn-default" type="submit">Réserver Maintenant</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                </form>
                                </div> <div class="col-md-4">
                                    <h4>Fiche</h4>
                                    <h6>pour avoir une meilleur prestation merci de remplir la fiche de renseignement</h6>
                                    <form id="contact_form"   me="contact_form" class="form-transparent" action="{{ path('soin_crm_fiche') }}" method="post">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="form_name">Type de Peau <small>*</small></label>
                                                    {{ form_errors(form1.designation)}}
                                                    {{ form_widget(form1.designation, {'attr': {'class': 'form-control autocomplete','placeholder':"Type Peau "|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="form_email">Produit utlisé <small>*</small></label>
                                                    {{ form_errors(form1.description)}}
                                                    {{ form_widget(form1.description, {'attr': {'class': 'form-control autocomplete','placeholder':"Produit utlisé"|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form1.abonnement)}}
                                            {{ form_widget(form1.abonnement, {'attr': {'class': 'form-control autocomplete','placeholder':"Produit utlisé"|trans}}) }}
                                        </div>
                                        <div class="form-group">
                                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                                            <button type="submit" class="btn btn-dark btn-theme-colored btn-flat mr-5" data-loading-text="Please wait...">Valider</button>
                                            <!--  <button action="{{ path('soin_crm_achat') }}" class="btn btn-default btn-flat btn-theme-colored">Annuler</button>-->
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-4">
                                    <h4>Total Achats</h4>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td>Total</td>
                                            <td id="total">{{ somme }} €</td>
                                        </tr>
                                        <tr>
                                            <td>Tarif Déplacement</td>
                                            <td id="tarif"> </td>
                                        </tr>
                                         <tr>
                                            <td>Somme</td>
                                            <td id="somme"> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal" id="myModal" role="dialog" >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Paiement</h4>
                    </div>
                    <div class="modal-body">
                        <p>Votre rendez-vous est bien enregistré<br>vous voulez payer par carte ?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('simulation_crm_paypal',{'totale':somme,'type':1}) }}" ><button type="button" class="btn btn-danger" >Payer</button></a>
                        <a href="{{ path('soin_crm_achat') }}"><button type="button" class="btn btn-warning" >paiement sur place</button></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal" id="myModal1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Vérification</h4>
                    </div>
                    <div class="modal-body">
                        <p>Veuillez  saisir l'heure et la date .</p>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:close();"><button type="button" class="btn btn-warning" >Annuler</button></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal" id="myModal2" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Vérification</h4>
                    </div>
                    <div class="modal-body">
                        <p>Veuillez sélectionner une ville  .</p>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:close1();"><button type="button" class="btn btn-warning" >Annuler</button></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal" id="myModal3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Vérification</h4>
                    </div>
                    <div class="modal-body">
                        <p>L'horaires de travail entre 7h et 20H .</p>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:close2();"><button type="button" class="btn btn-warning" >Annuler</button></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal" id="myModal4" role="dialog" style="overflow-y: scroll">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Paiement</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered tbl-shopping-cart">
                            <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Nom</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in pagination %}
                                <tr class="cart_item">
                                    <td class="product-thumbnail"><a href="#">
                                            {% if entry.logo != null %}
                                                <img alt="member" src="{{ asset("image/produit/")~entry.logo }}">
                                            {% else %}
                                                <img alt="member" src="{{ asset("image/logo.jpg") }}" >
                                            {% endif %}
                                        </a></td>
                                    <td class="product-name"><a href="#">{{ entry.designation }}</a>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h4>Total Achats</h4>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>Somme</td>
                                <td> <a id="somme1"></a>€</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:payer();"><button type="button" class="btn btn-danger" >Payer</button></a>
                        <a href="javascript:close3();"><button type="button" class="btn btn-warning" >paiement sur place</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end main-content -->


    <!-- Footer -->
    <footer id="footer" class="footer pb-0 bg-black-222 col-sm-9" style="height:438px;" >
        <div class="container pb-20">
            <div class="row multi-row-clearfix">
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Horaires d'ouverture</h5>
                        <div class="opening-hourse">
                            <ul class="list list-border">
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> lundi :</span>
                                    <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mardi :  </span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mercredi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> jeudi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> vendredi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> samedi : </span>
                                    <div class="value pull-right"> 07:00 - 13:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> dimanche :</span>
                                    <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Pages</h5>
                        <ul class="list list-border">
                            <li><a href="{{ path('kalitys_crm_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('soin_crm_soin') }}">Mes Soins</a></li>
                            <li><a href="{{ path('soin_crm_massage') }}">Massages</a></li>
                            <li><a href="{{ path('soin_crm_beaute') }}">Beauté</a></li>
                            <li><a href="{{ path('soin_crm_affiche_galerie') }}">Galerie</a></li>
                            <li><a href="{{ path('soin_crm_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Contact Rapide</h5>
                        <form id="footer_quick_contact_form" name="footer_quick_contact_form" class="quick-contact-form" action="{{ path('crm_soin_contact_rapide') }}" method="post">
                            <div class="form-group">
                                <input id="form_email" name="form_email" class="form-control" type="email" required="" placeholder=" Email">
                            </div>
                            <div class="form-group">
                                <textarea id="form_message" name="form_message" class="form-control" required="" placeholder=" Message" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                                <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" data-loading-text="Attendez...">Envoyer</button>
                            </div>
                        </form>


                    </div>
                </div>

            </div>

        </div>
</div>
</footer>
</div>
</footer>
<footer id="footer" class="footer pb-0 bg-black-222 col-sm-3" style="height:438px;">
    <div class="container pb-20">
        <div class="row multi-row-clearfix">
            <div class="col-md-12 " >
                <div class="widget"><a href="{{ path('kalitys_crm_homepage') }}"> <img alt="" src="{{ asset('front/logo/logo.png') }} " style="width:20%;"></a>
                    <p class="font-12 mt-10 mb-10" style="color: #b5adad;">
                        Belle & Zen - Elsa, sur rendez-vous uniquement et <br>
                        pour votre confort,je propose mes services à <br>
                        domicile ou en institut (Zac de Rivère Roche).</p>
                    <!-- <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="#">Lire Encore</a>-->
                    <ul class="social-icons icon-sm icon-bordered icon-circled clearfix mt-20">
                        <li><a href="https://www.facebook.com/Belleetzenmartinique/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <!--  <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="https://www.instagram.com/belleetzenmartinique/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-fa fa-linkedin"></i></a></li>
                         <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>

</footer>
<div class="container-fluid bg-theme-colored p-20" >
    <div class="row text-center">
        <div class="col-md-12">
            <p class="text-black font-11 m-0" style="padding-top:1%;">Copyright &copy;2018 Dewinter Groupe. Tout les droits sont réservées</p>
        </div>
    </div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{{ asset('front/js/custom.js') }}"></script>
<script>
    $('document').ready(function(){
        $('#{{ form.vars.name }}_locale').ready(function(){
            var locale=$('#{{ form.vars.name }}_locale').val();
            var dep=document.getElementById('{{ form.vars.name }}_Deplacementid');
            if(locale==1){
                dep.disabled=true;
                var path="{{ path('soin_session_get_tarif',{'id':'0'}) }}";
                $.ajax({
                    url: path,
                    type: 'POST',
                    success: function (data, status) {
                        var tarif=document.getElementById('tarif');
                      //  var autre=document.getElementById('autre');
                        var somme=document.getElementById('somme');
                        var somme1=document.getElementById('somme1');

                        var s=0;
                        if(data[0]['dep']==null){
                            tarif.innerHTML=0 +" €";
                            s+=0;
                        }else{
                            tarif.innerHTML=data[0]['dep'] +" €";
                            s+=data[0]['dep'];
                        }
                      //  autre.innerHTML=data[0]['tar'] +" €";
                        s+= {{ somme }};
                        somme.innerHTML=s +" €";
                        somme1.innerHTML=s ;
                    },
                    error: function (resultat, status, error) {
                    }
                });
            }else{
                dep.disabled=false;
            }
        });
        $('#{{ form.vars.name }}_locale').on('change',function(){
            var locale=$('#{{ form.vars.name }}_locale').val();
            var dep=document.getElementById('{{ form.vars.name }}_Deplacementid');
            if(locale==1){
                dep.disabled=true;
                var path="{{ path('soin_session_get_tarif',{'id':'0'}) }}";
                $.ajax({
                    url: path,
                    type: 'POST',
                    success: function (data, status) {
                        var tarif=document.getElementById('tarif');
                     //   var autre=document.getElementById('autre');
                        var somme=document.getElementById('somme');
                        var somme1=document.getElementById('somme1');
                        var s=0;
                        if(data[0]['dep']==null){
                            tarif.innerHTML=0 +" €";
                            s+=0;
                        }else{
                            tarif.innerHTML=data[0]['dep'] +" €";
                            s+=data[0]['dep'];
                        }
                      //  autre.innerHTML=data[0]['tar'] +" €";
                        s+= {{ somme }};
                        somme.innerHTML=s +" €";
                        somme.innerHTML=s;
                    },
                    error: function (resultat, status, error) {
                    }
                });
            }else{
                dep.disabled=false;
            }
        });
        $('#{{ form.vars.name }}_Deplacementid').on('change',function(){
            var dep=$('#{{ form.vars.name }}_Deplacementid').val();
            var path="{{ path('soin_session_get_tarif',{'id':'aa'}) }}";
            var p=path.replace('aa',dep);
            $.ajax({
                url: p,
                type: 'POST',
                success: function (data, status) {
                    var tarif=document.getElementById('tarif');
                 //   var autre=document.getElementById('autre');
                    var somme=document.getElementById('somme');
                    var somme1=document.getElementById('somme1');
                    var s=0;
                    if(data[0]['dep']==null){
                        tarif.innerHTML=0 +" €";
                        s+=0;
                    }else{
                        tarif.innerHTML=data[0]['dep'] +" €";
                        s+=data[0]['dep'];
                    }
                    s+= parseFloat(somme1.innerHTML);
                    somme.innerHTML=s +" €";
                    document.getElementById('total').innerHTML=s+" €";
                    somme1.innerHTML=s;
                },
                error: function (resultat, status, error) {
                }
            });
        });
        $('#{{ form.vars.name }}_Deplacementid').ready(function(){
            var dep=$('#{{ form.vars.name }}_Deplacementid').val();
            var path="{{ path('soin_session_get_tarif',{'id':'aa'}) }}";
            var p=path.replace('aa',dep);
            $.ajax({
                url: p,
                type: 'POST',
                success: function (data, status) {
                    var tarif=document.getElementById('tarif');
                   // var autre=document.getElementById('autre');
                    var somme=document.getElementById('somme');
                    var somme1=document.getElementById('somme1');

                    var s=0;
                    if(data[0]['dep']==null){
                        tarif.innerHTML=0 +" €";
                        s+=0;
                    }else{
                        tarif.innerHTML=data[0]['dep'] +" €";
                        s+=data[0]['dep'];
                    }
                  //  autre.innerHTML=data[0]['tar'] +" €";
                    s+= {{ somme }};
                    somme.innerHTML=s +" €";
                    somme.innerHTML=s
                },
                error: function (resultat, status, error) {
                }
            });
        });
    })
    function select() {
        {% if app.user %}
            var deplacement = $('#{{ form.vars.name }}_Deplacementid').val();
            var locale = $('#{{ form.vars.name }}_locale').val();
            var heure = $('#{{ form.vars.name }}_heure').val();
            var res = heure.split(":");
            var date = $('#{{ form.vars.name }}_date').val();
            var somme = parseFloat(document.getElementById('somme1').innerHTML);
            var titre = $('#{{ form.vars.name }}_titre').val();
            var path = "{{ path('soin_crm_achat') }}";
            var path1 = "{{ path('soin_crm_fiche_accee',{'somme':somme}) }}";
            var p = "{{ path('soin_crm_ajout_sess') }}";
            if((locale==2 && deplacement!="") || (locale==1 && deplacement=="")){
                if(date!="" && heure!="" ){
                    if(res[0]<20 && res[0]>7){
                        $.ajax({
                            url: p,
                            type: 'POST',
                            data: {dep: "" + deplacement,locale: ""+locale,'heure':heure,'date':date,'titre':titre,'somme':somme},
                            success: function (data, status) {
                                if(data=='ok'){
                                    var modal4 = document.getElementById('myModal4');
                                    modal4.style.display = "block";
                                }else{
                                    window.location.href = path;
                                }
                            },
                            error: function (resultat, status, error) {
                            }
                        });
                    }else{
                        var modal3 = document.getElementById('myModal3');
                        modal3.style.display = "block";
                    }
                }else{
                    var modal1 = document.getElementById('myModal1');
                    modal1.style.display = "block";
                }
            }else{
                var modal2 = document.getElementById('myModal2');
                modal2.style.display = "block";
            }
        {% else %}
            window.location.href="{{ path('fos_user_security_login') }}";
        {% endif %}
    }

    function payer(){
        var somme1=document.getElementById('somme1').innerHTML;
        var path="{{ path('simulation_crm_paypal',{'totale':'aa','type':1}) }}";
        var p=path.replace('aa',somme1);
        window.location.href=p;
    }

    function close(){
        var modal1 = document.getElementById('myModal1');
        modal1.style.display = "none";
    }

    function close1(){
        var modal2 = document.getElementById('myModal2');
        modal2.style.display = "none";
    }
    function close2(){
        var modal3 = document.getElementById('myModal3');
        modal3.style.display = "none";
    }
    function close3(){
        var modal3 = document.getElementById('myModal4');
        modal3.style.display = "none";
        window.location.href= "{{ path('soin_crm_achat') }}";
    }
    {% for entry in pagination %}
        $('#quantite{{ entry.id }}').on('change',function(){
           var quantite=document.getElementById('quantite{{ entry.id }}').value;
           var prix=document.getElementById('prix{{ entry.id }}').innerHTML;
           var somme=document.getElementById('somme1').innerHTML;
           somme=somme-prix;
           prix= {{ entry.prix }}*quantite
           document.getElementById('somme1').innerHTML=somme;
           document.getElementById('prix{{ entry.id }}').innerHTML=prix;
           somme=somme+prix;
           document.getElementById('somme1').innerHTML=somme;
           document.getElementById('total').innerHTML=somme+" €";
           document.getElementById('somme').innerHTML=somme+" €";
        })
    {% endfor %}


</script>


</body>
</html>