<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body class="">
<div id="wrapper">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!-- Start main-content -->
    <div class="container">
        <!-- Section: inner-header -->
        <center><img src="{{ absolute_url(asset('front/logo/check.jpg') )}}" style="width: 300px;height: 200px;" alt=""></center>

            <div class="container">
                <div class="section-content">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                           <center><h3>Bonjour {{ nom }} {{ prenom }}</h3>
                               Mme {{ user.nom }} {{ user.prenom }} a le plaisir de vous offrir un chèque cadeau de soins et bien être chez Belle & Zen <br> Bât D3, Zac de Rivière Roche Fort-de-France<br>+596 696 22 64 69<br>
                               mail : {{ user.email }}<br>
                            <h5>{{ nom }} {{ prenom }} </h5>
                               mail: {{ mail }}<br>
                               coupon : {{ coupon }}<br>
                               expire le : {{ date|date('Y-m-d') }}<br>

                               <div class="">
                                   <h5>Vous pouvez  télécharger votre facture <a href="http://test-dewinter.com/belle-zen/soin/soin/web/cadeaux/coupon/{{ cheque.id }}">Ici</a> .</h5><br>
                               </div><br>
                               Meilleurs Salutations !<br>

                               Belle & Zen
                           </center>
                        </div>
                </div>
            </div>
            </div>


    </div>
    <!-- end main-content -->



</div>

</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->


</body>
</html>