<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body class="">
<div id="wrapper">
    <!-- Favicon and Touch Icons -->
    <link href="{{ absolute_url(asset('front/logo/logo.png') )}}" rel="shortcut icon" type="image/png">
    <link href="{{ absolute_url(asset('front/images/apple-touch-icon.png')) }}" rel="apple-touch-icon">
    <link href="{{ absolute_url(asset('front/images/apple-touch-icon-72x72.png')) }}" rel="apple-touch-icon" sizes="72x72">
    <link href="{{ absolute_url(asset('front/images/apple-touch-icon-114x114.png') )}}" rel="apple-touch-icon" sizes="114x114">
    <link href="{{ absolute_url(asset('front/images/apple-touch-icon-144x144.png')) }}" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="{{ absolute_url(asset('front/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('front/css/jquery-ui.min.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('front/css/animate.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('front/css/css-plugin-collections.css')) }}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="{{ absolute_url(asset('front/css/menuzord-skins/menuzord-border-top.css')) }}" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{{ absolute_url(asset('front/css/style-main.css')) }}" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="{{ absolute_url(asset('front/css/colors/theme-skin-colorset1.css')) }}" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="{{absolute_url( asset('front/css/preloader.css') )}}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{{absolute_url( asset('front/css/custom-bootstrap-margin-padding.css')) }}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{{ absolute_url(asset('front/css/responsive.css') )}}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- external javascripts -->
    <script src="{{ absolute_url(asset('front/js/jquery-2.2.0.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('front/js/jquery-ui.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('front/js/bootstrap.min.js') )}}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{{absolute_url( asset('front/js/jquery-plugin-collection.js'))}}"></script>





    <!-- Start main-content -->
    <div class="container">
        <!-- Section: inner-header -->
        <center><img src="{{ absolute_url(asset('front/logo/logo.jpg') )}}" style="width: 300px;height: 200px;" alt=""></center>

            <div class="container">
                <div class="section-content">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                           <center><h3>BONJOUR {{ user.nom }} {{ user.prenom }}</h3>
                            <h5>votre paiement est bien effectué</center>
                            </h5>
                        </div>
                        <div class="col-md-10 col-md-offset-1 mt-30" >
                            <div class="row">
                                <div class="">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        DÉTAILS DE LA COMMANDE
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                        Commande : {{ agenda.titre  }} passée le {{ agenda.date|date('Y-m-d') }}<br>
                                                        Code d’enregistrement : {{ agenda.coupon }}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div class="">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th>
                                                Produit
                                            </th>
                                            <th>
                                                Prix
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for achat in pagination %}
                                            <tr>
                                                <td>
                                                    {{ achat.designation }}
                                                </td>
                                                <td>
                                                    {{ achat.prix }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4>Total Achats</h4>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Somme</td>
                                            <td>{{ somme }} €</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4>Livraison</h4>
                                    <h6>Transporteur : paiement en ligne</h6>
                                    <h6>Paiement : gpgcheckout</h6>

                                </div>
<br><br>
                                <div class="">
                                    <h5>Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a href="http://test-dewinter.com/belle-zen/soin/soin/web/">Profil</a>  de la rubrique <a href="http://test-dewinter.com/belle-zen/soin/soin/web/calendrier/list">Rendez vous</a> sur notre site.</h5><br>

                                </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>


    </div>
    <!-- end main-content -->



</div>

</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->


</body>
</html>