<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body class="">
<div id="wrapper">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!-- Start main-content -->
    <div class="container">
        <!-- Section: inner-header -->
        <center><img src="{{ absolute_url(asset('front/logo/logo.jpg') )}}" style="width: 300px;height: 200px;" alt=""></center>

            <div class="container">
                <div class="section-content">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                           <center><h3>BONJOUR {{ user.nom }} {{ user.prenom }}</h3>
                            <h5>MERCI D'AVOIR EFFECTUÉ VOS ACHATS SUR NOTRE SITE BELLE & ZEN</center>
                            </h5>
                        </div>
                        <div class="col-md-10 col-md-offset-1 mt-30" >
                            <div class="row">
                                <div class="">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        DÉTAILS DE LA COMMANDE
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                        Commande : {{ cheque.cheque.designation  }} <br>
                                                        Code d’enregistrement : {{ cheque.coupon }}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div class="">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th>
                                                Produit
                                            </th>
                                            <th>
                                                Prix
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{ cheque.cheque.designation }}
                                                </td>
                                                <td>
                                                    {{ cheque.cheque.abonnement }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4>Total Achats</h4>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Somme</td>
                                            <td>{{ somme }} €</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <h4>Livraison</h4>
                                    <h6>Transporteur : paiement en ligne</h6>
                                    <h6>Paiement : gpgcheckout</h6>

                                </div>
<br><br>
                                <div class="">
                                    <h5>Vous pouvez accéder à tout moment au suivi de votre commande et télécharger votre facture dans <a href="http://test-dewinter.com/belle-zen/soin/soin/web/">Profil</a>  de la rubrique <a href="http://test-dewinter.com/belle-zen/soin/soin/web/cadeaux/coupon/{{ cheque.id }}">Imprimer</a> sur notre site.</h5><br>

                                </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>


    </div>
    <!-- end main-content -->



</div>

</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->


</body>
</html>