{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>



    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Royalspa Health & Beauty Business Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Changer mot de passe</title>

    <!-- Favicon and Touch Icons -->
    <link href="{{ asset('front/logo/logo.png') }}" rel="shortcut icon" type="image/png">
    <link href="{{ asset('front/images/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link href="{{ asset('front/images/apple-touch-icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
    <link href="{{ asset('front/images/apple-touch-icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">
    <link href="{{ asset('front/images/apple-touch-icon-144x144.png') }}" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="{{ asset('front/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/animate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/css-plugin-collections.css') }}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="{{ asset('front/css/menuzord-skins/menuzord-border-top.css') }}" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{{ asset('front/css/style-main.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="{{ asset('front/css/colors/theme-skin-colorset1.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="{{ asset('front/css/preloader.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{{ asset('front/css/custom-bootstrap-margin-padding.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{{ asset('front/css/responsive.css') }}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link  href="{{ asset('front/js/revolution-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

    <!-- external javascripts -->
    <script src="{{ asset('front/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('front/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{{ asset('front/js/jquery-plugin-collection.js') }}"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('front/js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body class="">
<div id="wrapper">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <div id="preloader-ping-balls">
                <div class="cssload-loadingwrap">
                    <ul class="cssload-bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-nav navbar-fixed-top header-dark navbar-theme-colored navbar-transparent navbar-sticky-animated animated-active">
            <div class="header-nav-wrapper">
                <div class="container">
                    <nav>
                        <div id="menuzord" class="menuzord no-bg">
                            <a class="menuzord-brand" href="{{ path('kalitys_crm_homepage') }}"><img src="{{ asset('front/logo/logo.jpg') }}" alt="" style="width:263px;max-height:150px;margin-top:-20px;"></a>
                            <ul class="menuzord-menu">
                                <li class="active"  ><a href="{{ path('kalitys_crm_homepage') }}" style="font-size: 16px;">Accueil</a>
                                </li>
                                <li  style="font-size: 16px;"><a href="{{ path('soin_crm_soin') }}" style="margin-left:-21px;font-size: 16px;">- Mes Soins</a>
                                </li>
                                <li  style="font-size: 16px;"><a href="{{ path('soin_crm_massage') }}" style="margin-left:-21px;font-size: 16px;">- Massages</a>
                                </li>
                                <li  style="font-size: 16px;"><a href="{{ path('soin_crm_beaute') }}" style="margin-left:-21px;font-size: 16px;">- Beauté</a>
                                </li>
                                <li  style="font-size: 16px;"><a href="{{ path('soin_crm_affiche_galerie') }}" style="margin-left:-21px;font-size: 16px;">- Galerie</a>
                                </li>
                                <li  style="font-size: 16px;"><a href="{{ path("soin_crm_contact") }}" style="margin-left:-21px;font-size: 16px;">- Contact</a>
                                </li>

                            </ul>
                            <ul class="pull-right flip hidden-sm hidden-xs">
                                <li>
                                    <div class="row col-sm-9" style="width: 265px;">
                                        <a  href="{{ path('soin_crm_achat') }}" class="btn btn-theme-colored mt-20 p-10 pl-20 pr-20 text-white btn-flat no-border col-sm-9"  style="width: 100px;"  >Réserver</a>
                                        <div class="dropdown col-sm-3" style="width:73px;margin-top: 7%;">
                                            <img src="{{ asset('front/logo/user.svg') }}" data-toggle="dropdown" >

                                            </img>
                                            <ul class="dropdown-menu">
                                                {% if app.user %}
                                                    <li> <a  href="{{ path('fos_user_security_logout') }}"     >Déconnexion</a></li>
                                                {% else %}
                                                    <li>   <a  href="{{ path('fos_user_security_login') }}"   >Login</a></li>
                                                    <li>   <a  href="{{ path('fos_user_registration_register') }}"    >Inscription</a></li>
                                                {% endif %}
                                                <li>
                                                    <a  href="{{ path('soin_crm_calendrier_list') }}"    >Rendez vous</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{{ asset('front/logo/connexion.jpg') }}">
            <div class="container pt-120 pb-50">
                <!-- Section Content -->
                <div class="section-content pt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title text-white">Changer mot de passe</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section contact -->
        <section class="contact" id="contact">
            <div class="container pb-40">

                <div class="section-title">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="font-playball font-36">Connexion</h2>
                          <!--  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quasi! Beatae quidem modi mollitia explicabo.</p>-->
                            <div class="subtitle-divider">
                                <div class="title-icon font-36"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if app.session.flashBag.has('mail') %}
                    <div class="alert alert-danger">
                        {% set msg=app.session.flashBag.get('mail')  %}
                        <h3>{{ msg[0].title }}</h3>
                        <h5>{{ msg[0].msg }}</h5>
                    </div>
                {% endif %}
                <div class="modal" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Vérifivation</h4>
                            </div>
                            <div class="modal-body">

                                <form id="contact_form"   me="contact_form" class="form-transparent" action="{{ path('soin_crm_verif_mail') }}" method="post">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="form_name">email <small>*</small></label>
                                                <input type="email" name="mail" id="mail" class="form-control autocomplete" required>
                                            </div>
                                        </div>
                                        <div class="form-group pull-right col-sm-12">
                                            <a href="javascript:close();"><button type="button" class="btn btn-warning pull-right" >Annuler</button></a>
                                            <button type="submit" class="btn btn-dark btn-theme-colored btn-flat mr-5 pull-right" data-loading-text="Please wait...">Valider</button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section-content">

                    <div class="row pt-10">

                        <center class="col-md-12 col-md-offset-1">
                           <center>
                               <form class="type_2" action="{{ path("crm_soin_contact_changer_password",{'id':id}) }}" method="post" style="margin-left: 23%;">
                                   <div class="row">

                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <label>Mot de passe</label>
                                               <input id="username" name="password" class="form-control required email" type="password" placeholder="mot de passe"  required="required">
                                           </div>
                                           <div class="form-group">
                                               <label>Changer mot de passe</label>
                                               <input id="password" name="password1" class="form-control" type="password" placeholder="Mot de passe" required="">
                                           </div>
                                           <div class="col-sm-6">
                                               <button class="btn btn-dark btn-block hvr-shutter-out-horizontal btn-theme-colored btn-flat mr-5" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />Valider</button>
                                           </div>
                                       </div>
                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <!--  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quasi! Beatae quidem modi mollitia explicabo.</p>-->
                                           </div>

                                       </div>
                                   </div>
                               </form>
                           </center>
                            <!-- Contact Form Validation-->
                            <script type="text/javascript">
                               function select(){
                                   var modal = document.getElementById('myModal');
                                   modal.style.display = "block";
                               }
                               function close(){
                                   var modal = document.getElementById('myModal');
                                   modal.style.display = "none";
                               }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
    </section>




    <!-- Divider: Google Map -->
    <section>
        <div class="container-fluid p-0">
            <div class="row">

                <!-- Google Map HTML Codes -->
                <div
                        data-address="121 King Street, Melbourne Victoria 3000 Australia"
                        data-popupstring-id="#popupstring1"
                        class="map-canvas autoload-map"
                        data-mapstyle="style1"
                        data-height="400"
                        data-latlng="-37.817314,144.955431"
                        data-title="sample title"
                        data-zoom="12"
                        data-marker="images/map-icon-blue.png">
                </div>
                <div class="map-popupstring hidden" id="popupstring1">
                    <div class="text-center">
                        <h3>Royal Spa Office</h3>
                        <p>121 King Street, Melbourne Victoria 3000 Australia</p>
                    </div>
                </div>
                <!-- Google Map Javascript Codes -->
                <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <script src="js/google-map-init.js"></script>

            </div>
        </div>
    </section>

</div>
<!-- end main-content -->



    <!-- Footer -->
    <footer id="footer" class="footer pb-0 bg-black-222 col-sm-9" style="height:438px;" >
        <div class="container pb-20">
            <div class="row multi-row-clearfix">
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Horaires d'ouverture</h5>
                        <div class="opening-hourse">
                            <ul class="list list-border">
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> lundi :</span>
                                    <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mardi :  </span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> mercredi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> jeudi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> vendredi :</span>
                                    <div class="value pull-right"> 07:00 - 20:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> samedi : </span>
                                    <div class="value pull-right"> 07:00 - 13:00 </div>
                                </li>
                                <li class="clearfix" style="color: #808080;"> <span><i class="fa fa-clock-o mr-5"></i> dimanche :</span>
                                    <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-black-333">Fermé</span>  </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Pages</h5>
                        <ul class="list list-border">
                            <li><a href="{{ path('kalitys_crm_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('soin_crm_soin') }}">Mes Soins</a></li>
                            <li><a href="{{ path('soin_crm_massage') }}">Massages</a></li>
                            <li><a href="{{ path('soin_crm_beaute') }}">Beauté</a></li>
                            <li><a href="{{ path('soin_crm_affiche_galerie') }}">Galerie</a></li>
                            <li><a href="{{ path('soin_crm_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Contact Rapide</h5>
                        <form id="footer_quick_contact_form" name="footer_quick_contact_form" class="quick-contact-form" action="{{ path('crm_soin_contact_rapide') }}" method="post">
                            <div class="form-group">
                                <input id="form_email" name="form_email" class="form-control" type="email" required="" placeholder=" Email">
                            </div>
                            <div class="form-group">
                                <textarea id="form_message" name="form_message" class="form-control" required="" placeholder=" Message" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                                <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" data-loading-text="Attendez...">Envoyer</button>
                            </div>
                        </form>


                    </div>
                </div>

            </div>

        </div>
</div>
</footer>
</div>
</footer>
<footer id="footer" class="footer pb-0 bg-black-222 col-sm-3" style="height:438px;">
    <div class="container pb-20">
        <div class="row multi-row-clearfix">
            <div class="col-md-12 " >
                <div class="widget"><a href="{{ path('kalitys_crm_homepage') }}"> <img alt="" src="{{ asset('front/logo/logo.png') }} " style="width:20%;"></a>
                    <p class="font-12 mt-10 mb-10" style="color: #b5adad;">
                        Belle & Zen - Elsa, sur rendez-vous uniquement et <br>
                        pour votre confort,je propose mes services à <br>
                        domicile ou en institut (Zac de Rivère Roche).</p>
                    <!-- <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="#">Lire Encore</a>-->
                    <ul class="social-icons icon-sm icon-bordered icon-circled clearfix mt-20">
                        <li><a href="https://www.facebook.com/Belleetzenmartinique/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <!--  <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="https://www.instagram.com/belleetzenmartinique/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-fa fa-linkedin"></i></a></li>
                         <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>

</footer>
    <div class="container-fluid bg-theme-colored p-20" >
        <div class="row text-center">
            <div class="col-md-12">
                <p class="text-black font-11 m-0" style="padding-top:1%;">Copyright &copy;2018 Dewinter Groupe. Tout les droits sont réservées</p>
            </div>
        </div>
    </div>
    </div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{{ asset('front/js/custom.js') }}"></script>

</body>
</html>


