/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

Default COLOR :  Color Set 1
COLOR CODE1: #add8e6 
COLOR CODE2: #e6adbc 
COLOR CODE3: #e6d8ad 
----------------------------------------- */
/*lightblue*/
.text-theme-color-1 {
  color: #add8e6;
}
.bg-theme-color-1 {
  background: #add8e6;
}
.bg-theme-color-1-transparent-light {
  background: rgba(173, 216, 230, 0.7);
}
.border-theme-color-1 {
  border-color: #add8e6;
}
.border-10px {
  border: 10px solid rgba(173, 216, 230, 0.27);
}
.pricing-table.triangle-theme-color-1 .triangle-left,
.pricing-table.triangle-theme-color-1 .triangle-right {
  border-left: 18px solid rgba(0, 0, 0, 0);
  border-top: 18px solid #add8e6;
}
.bg-theme-color-1-transparent,
.features-item .thumb.bg-theme-color-1-transparent:before,
.services-items.bg-theme-color-1-transparent:before,
.half-divider.bg-theme-color-1 {
  background-color: rgba(173, 216, 230, 0.93) !important;
}
.expert.bg-theme-color-1 .triangle-down {
  border-top: 40px solid #add8e6;
}
/*lightpink*/
.text-theme-color-2 {
  color: #e6adbc;
}
.bg-theme-color-2 {
  background: #e6adbc;
}
.bg-theme-color-2-transparent-light {
  background: rgba(230, 173, 188, 0.7);
}
.border-theme-color-2 {
  border-color: #e6adbc;
}
.pricing-table.triangle-theme-color-2 .triangle-left,
.pricing-table.triangle-theme-color-2 .triangle-right {
  border-left: 18px solid rgba(0, 0, 0, 0);
  border-top: 18px solid #e6adbc;
}
.bg-theme-color-2-transparent,
.features-item .thumb.bg-theme-color-2-transparent:before,
.services-items.bg-theme-color-2-transparent:before {
  background-color: rgba(230, 173, 188, 0.93) !important;
}
.expert.bg-theme-color-2 .triangle-down {
  border-top: 40px solid #e6adbc;
}
/*moccasin*/
.text-theme-color-3 {
  color: #e6d8ad;
}
.bg-theme-color-3 {
  background: #ffb340;
}
.bg-theme-color-3-transparent-light {
  background: rgba(230, 216, 173, 0.7);
}
.border-theme-color-3 {
  border-color: #e6d8ad;
}
.pricing-table.triangle-theme-color-3 .triangle-left,
.pricing-table.triangle-theme-color-3 .triangle-right {
  border-left: 18px solid rgba(0, 0, 0, 0);
  border-top: 18px solid #e6d8ad;
}
.bg-theme-color-3-transparent,
.features-item .thumb.bg-theme-color-3-transparent:before,
.services-items.bg-theme-color-3-transparent:before {
  background-color: rgba(230, 216, 173, 0.93) !important;
}
.big-triangle {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e6d8ad;
}
.expert.bg-theme-color-3 .triangle-down {
  border-top: 40px solid #e6d8ad;
}
/* navbar theme colored */
.header-nav.navbar-theme-colored {
  background-color: rgb(173, 216, 230);
}
.header-nav.navbar-transparent.animated-active {
  background-color: rgba(0, 0, 0, 0);
}
/* Default Theme Color*/
/* text-theme-color */
.text-theme-colored,
.best-people:hover .info .relation {
  color: #add8e6 !important;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #add8e6 !important;
}
/* background-theme-color */
.bg-theme-colored,
.event .entry-header .entry-date,
.blog-post .post .entry-header .entry-date {
  background-color: #add8e6 !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #add8e6 !important;
  border-color: #add8e6 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
/* border-theme-color */
.border-theme-colored,
.causes .progress-item .progress-bar .percent {
  border-color: #add8e6 !important;
}
.gift-logo {
  border: 7px solid rgba(255, 255, 255, 0.6);
}
.gift-logo:hover {
  border: 7px solid rgba(173, 216, 230, 0.6);
}
/* background-color-transparent */
.bg-theme-colored-transparent,
.quote,
.bg-theme-color-transparent {
  background-color: rgba(173, 216, 230, 0.75) !important;
}
.bg-theme-colored-transparent,
.best-people .best-people-details {
  background-color: rgba(173, 216, 230, 0.5) !important;
}
.bg-theme-colored-transparent,
.couple .couple-details .title span,
.couple-frame .couple-details .title span {
  background-color: rgba(173, 216, 230, 0.95) !important;
}
/* border-theme-colored-transparent*/
.client-img.style2 a:hover img {
  border: 7px solid rgba(173, 216, 230, 0.6) !important;
}
/* Layeroverlay */
.layer-overlay.overlay-red::before,
.layer-overlay.overlay-theme-colored-deep::before,
.post .entry-meta.meta-absolute,
.volunteer .overlay,
.bg-theme-colored-transparent-deep {
  background-color: rgba(173, 216, 230, 0.9) !important;
}
.overlay-theme-colored::before {
  background-color: rgba(173, 216, 230, 0.65) !important;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper,
.zeus .tp-bullet::after {
  background-color: #add8e6;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.testimonial .item::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.cd-timeline-img,
.portfolio-gallery .portfolio-item .overlay-shade {
  background: #add8e6;
}
.subtitle-divider::before,
.subtitle-divider::after {
  background: #add8e6 none repeat scroll 0 0;
  height: 1px;
}
.ui-state-highlight {
  background: #add8e6 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.pricing-table .table-list li i,
.testimonial-carousel.boxed .content::after,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.attorney-carousel .content .contact-area i,
.attorney-address li i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.horizontal-contact-widget .each-widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.volunteer .info .name a,
.donation-form .form-group label,
.heart-preloader i,
.portfolio-filter a:hover,
.portfolio-filter a.active {
  color: #add8e6;
}
.star-rating span::before {
  color: #add8e6 !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.icon-box.icon-rounded-bordered i,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid #add8e6;
}
.border-theme-colored,
.owl-theme .owl-dots .owl-dot span {
  border-color: #add8e6;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #add8e6 transparent transparent;
}
.opening-hourse ul li {
  border-bottom: 1px dashed #add8e6;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #add8e6;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #86c5da;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #add8e6;
  color: #add8e6;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
.attorney-address li {
  border-left: 1px solid #add8e6;
}
.section-title.title-border {
  border-left: 4px solid #add8e6;
}
/* border-top-color */
.member-info {
  border-top: 3px outset #add8e6;
}
.cssload-tri {
  border-top: 27px solid #add8e6;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #add8e6;
}
.section-title.title-border.title-right {
  border-right: 4px solid #add8e6;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #add8e6;
}
.event {
  border-bottom-color: #add8e6;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #add8e6;
}
/* lebel */
.label-success {
  background-color: #add8e6;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #add8e6;
  background-color: #fff;
  border-color: #add8e6;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #add8e6;
  background-color: #e6e6e6;
  border-color: #4baac8;
}
.btn-default.btn-theme-colored:hover {
  color: #add8e6;
  background-color: #e6e6e6;
  border-color: #7ec2d8;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #add8e6;
  background-color: #e6e6e6;
  border-color: #7ec2d8;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #add8e6;
  background-color: #d4d4d4;
  border-color: #4baac8;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #add8e6;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #add8e6;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #add8e6;
  background-color: #fff;
  border-color: #add8e6;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #add8e6;
  background-color: #e6e6e6;
  border-color: #4baac8;
}
.btn-border.btn-theme-colored:hover {
  color: #add8e6;
  background-color: #e6e6e6;
  border-color: #7ec2d8;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #add8e6;
  background-color: #e6e6e6;
  border-color: #7ec2d8;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #add8e6;
  background-color: #d4d4d4;
  border-color: #4baac8;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #add8e6;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #add8e6;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #86c5da;
  border-color: #86c5da;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #add8e6;
  border-color: #add8e6;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #86c5da;
  border-color: #4baac8;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #86c5da;
  border-color: #7ec2d8;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #86c5da;
  border-color: #7ec2d8;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #6bb8d2;
  border-color: #4baac8;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #add8e6;
  border-color: #add8e6;
}
.btn-dark.btn-theme-colored .badge {
  color: #add8e6;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #d4ebf2;
  border-color: #d4ebf2;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #add8e6;
  border-color: #72bcd4;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #add8e6;
  border-color: #a5d4e4;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #add8e6;
  border-color: #a5d4e4;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #92cbde;
  border-color: #72bcd4;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #d4ebf2;
  border-color: #d4ebf2;
}
.btn-gray.btn-theme-colored .badge {
  color: #d4ebf2;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #add8e6;
  border-color: #add8e6;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #86c5da;
  border-color: #4baac8;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #86c5da;
  border-color: #7ec2d8;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #86c5da;
  border-color: #7ec2d8;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #6bb8d2;
  border-color: #4baac8;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #add8e6;
  border-color: #add8e6;
}
.btn-theme-colored .badge {
  color: #add8e6;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #add8e6;
  border-color: #add8e6;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #86c5da;
  border-color: #86c5da;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #add8e6;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #add8e6;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #d4ebf2;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #86c5da;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
/*
 * Shortcode: social-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #add8e6;
}
.icon-theme-colored.icon-bordered a {
  border-color: #add8e6;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #add8e6;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #add8e6;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #86c5da;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #add8e6;
  color: #add8e6;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #add8e6;
}
.icon-theme-colored.icon-gray a:hover {
  color: #86c5da;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #add8e6;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #add8e6;
}
.icon-theme-colored a:hover {
  color: #86c5da;
}
.icon-hover-theme-colored a:hover {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
.social-icons.icon-hover-theme-colored a:hover {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #add8e6;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #add8e6;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #add8e6;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #add8e6;
  color: #add8e6;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #add8e6;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #add8e6;
  border-color: #add8e6;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #add8e6;
}
/*----------- Title-Border -------------*/
.section-title.title-border {
  border-left: 2px solid #add8e6;
}
.section-title.title-border.title-right {
  border-right: 4px solid #add8e6;
}
.title-border::before {
  background-color: #add8e6;
}
/*----------- Switcher -------------*/
.icon-switcher {
  background: rgba(173, 216, 230, 0.5);
}
